<script language="JavaScript">
<!--
var last = null;
function preview() {
    var now = new Date();
    if ( last != null && (now-last) < 5000  ) {
      return;
    }
    last = now;
    document.form1.mode.value="preview";
    document.form1.target="template_preview";
    document.form1.submit();
}

//-->
</script>
<script type="text/javascript">
  _editor_url = "../blog/js";
  _editor_lang = "ja";
</script>
<!--
<style type="text/css">
input,select { font-size: 14px; line-height: 1.3em; margin: 4px 4px;
                 vertical-align:middle; }
.htmlarea table, td, div { padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px;  }
.htmlarea table { border-style: none; }
.htmlarea .toolbar td { background-color: ButtonFace; border-width: 0px; }
</style>
-->
<TMPL_IF NAME=displayHtmlEditor>
<script type="text/javascript" src="../blog/js/htmlarea.js"></script>
<script type="text/javascript" src="../blog/js/entry.js"></script>
<script type="text/javascript" src="../blog/js/initeditor.js"></script>
<script language="JavaScript">
<!--
function barea(param)
{
    document.form1.mode.value="up";
    document.form1.target="_self";
    if (HTMLAreaSupported()) {
        document.form1.ta1.form.onsubmit();
    }
    document.form1.button1.disabled='true';
    document.form1.set1.disabled='true';
    document.form1.submit();
}
function regist1() {
    document.form1.mode.value="regist";
    document.form1.target="_self";
    if (HTMLAreaSupported()) {
        document.form1.ta1.form.onsubmit();
    }
    document.form1.button1.disabled='true';
    document.form1.set1.disabled='true';
    document.form1.submit();
}
function donate(ac) {
    document.form1.mode.value="skip";
    document.form1.target="_self";
    if (HTMLAreaSupported()) {
        document.form1.ta1.form.onsubmit();
    }
    document.form1.button1.disabled='true';
    document.form1.set1.disabled='true';
    document.form1.action=ac;
    document.form1.submit();
}

//-->
</script>
<!--
<img src="../imgs/spc.gif" onload="initEditor();">
-->
<TMPL_ELSE>
<script language="JavaScript">
<!--
function barea(param)
{
    document.form1.mode.value="up";
    document.form1.target="_self";
    document.form1.button1.disabled='true';
    document.form1.set1.disabled='true';
    document.form1.submit();
}
function regist1() {
    document.form1.mode.value="regist";
    document.form1.target="_self";
    document.form1.button1.disabled='true';
    document.form1.set1.disabled='true';
    document.form1.submit();
}
function donate(ac) {
    document.form1.mode.value="skip";
    document.form1.target="_self";
    document.form1.button1.disabled='true';
    document.form1.set1.disabled='true';
    document.form1.action=ac;
    document.form1.submit();
}

function newtpl_preview(type)
{
  tplPreview(type, 'seo');
}

//-->
</script>
</TMPL_IF>

<script type="text/javascript">
function responsiveTplPreview(type)
{
  tplPreview(type, 'responsive');
}

function tplPreview(type, theme)
{
  // 元のアクションを保持
  var backup = window.document.form1.action;

  if (theme === 'responsive') {
    var winOpenScreenHeight = window.innerHeight;
    var winOpen = window.open("about:blank","entry_preview","scrollbars=yes, resizable=yes, width=420, height=" + winOpenScreenHeight);
  }

  // 表示テンプレート指定
  var tpl = document.createElement('input');
  tpl.name = 'tpl';
  tpl.id = 'tplid';
  tpl.type = 'hidden';
  tpl.value = 'freePage.tpl';

  // 表示データ参照先指定
  var mode = document.createElement('input');
  mode.name = 'preview_mode';
  mode.id = 'preview_mode_id';
  mode.type = 'hidden';
  mode.value = 'current';

  // ページタイプ指定
  var pageType = document.createElement('input');
  pageType.name = 'type';
  pageType.id = 'typeid';
  pageType.type = 'hidden';
  pageType.value = 'diary';

  // パラメータをフォームに登録
  window.document.form1.appendChild(tpl);
  window.document.form1.appendChild(mode);
  window.document.form1.appendChild(pageType);

  // 別ウインドウでプレビュー表示
  window.document.form1.target = "entry_preview";
  window.document.form1.action = "../func100/newtplPreview.php";
  
  window.document.form1.submit();

  // 後始末、元のアクションに戻して追加したパラメータを削除
  window.document.form1.action = backup;
  var tplid = document.getElementById("tplid");
  var preview_mode_id = document.getElementById("preview_mode_id");
  var typeid = document.getElementById("typeid");
  tplid.parentNode.removeChild(tplid);
  preview_mode_id.parentNode.removeChild(preview_mode_id);
  typeid.parentNode.removeChild(typeid);
}
</script>
<form name="form1" method="post" action="diary.cgi">
<table width="100%"  border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
                          <tr>
                            <td width="12"><table width="50%" align="right"  border="0" cellspacing="0" cellpadding="0" height="20" bgcolor="#F39700">

                                <tr>
                                  <td><img src="../imgs/spc.gif"></td>
                                </tr>
                            </table></td>
<td align="left" class="midashi">店長日記を書きます</td>
<td align="right" class="midashi"><a href="https://help.shopserve.jp/help/diary.php" target="manual"><img src="../imgs/help_link.gif" alt="この機能のヘルプをみる" align="center" height="22" width="153" border="0"></a></td>
                          </tr>
                        </table>
                          <img src="../imgs/spc.gif" width="5" height="5">

                          <table width="100%"  border="0" cellpadding="0" cellspacing="0">
                            <tr>
                              <td align="left" class="main-table">
                                <div class="infoArea table_bg">
                                  お店トップページの「店長紹介」からリンクして開く「店長日記」を作成します。<br><br>
                                  ＜公開手順＞<br>
                                  1.記事の「状態」を「公開する」として作成<br>
                                  2.「<a href="./masterinfo.cgi">店長紹介の更新</a>」で「リンク先URL」を確認<br>
                                  3.メインメニュー「デザイン設定」の「<a href="../func04/topdesign_sps.cgi">全体のレイアウト</a>」で「店長紹介」がお店ページで表示されていることを確認<br>
                                  4.管理画面左上の[お店ページの更新へ]ボタンをクリック<br><br>
                                  <a href="../func02/entry_select.cgi">⇒作成済み「店長日記」の編集</a><br><br>
                                  JavaScriptを使用する場合は、HTMLエディタをOFFにしてご利用ください。<br>
                                  <a href="../func02/htmleditor.php">⇒HTMLエディタ OFF/ON 切替</a><br>
                                </div>
                                <table width="100%"  border="0" cellspacing="0" cellpadding="0">
                                <tr>
<!--
<div align="right"><a href="diary2.cgi">テキスト版</a></div>
-->
                <TMPL_VAR NAME=err>
                                  <td>
<!--
<div align="right"><a href="entry_select.cgi">店長日記の編集はこちら</a></div>
-->
<table width="100%"  border="0" cellpadding="0" cellspacing="2" class="item-box">
                                    <tr>
                                      <td class="item-name">タイトル</td>
                                      <td class="item"><input name="title" type="text" class="def-line" value="<TMPL_VAR NAME=title>">

                                      </td>
                                    </tr>
                                    <tr>
                                      <td class="item-name">キーワード</td>
                                      <td class="item"><input name="keyword" type="text" class="def-line" value="<TMPL_VAR NAME=keyword>">

                                      </td>
                                    </tr>
                                    <tr>
                                      <td class="item-name">ディスクリプション</td>
                                      <td class="item"><input name="description" type="text" class="def-line" value="<TMPL_VAR NAME=description>">

                                      </td>
                                    </tr>
                                    <tr>
                                      <td class="item-name">内容 </td>
                                      <td class="item">
                                            <textarea name="body" id="ta1" style="width:455px" rows="<TMPL_VAR NAME=ta1>" wrap="VIRTUAL" class="def-line"><TMPL_VAR escape=html NAME=body></textarea>
                                            <br>
                                            <input type="button" name="button1" value="入力エリアの拡大" style="width:130px" onClick="barea('up')">
                                      </td>
                                    </tr>
                                    <tr>
                                      <td class="item-name">記事の状態</td>
                                      <td class="item">
                                                <TMPL_IF NAME=status>
                                                <input name="status" type="radio" value="1" id="open01" checked>
                                                <TMPL_ELSE>
                                                <input name="status" type="radio" value="1" id="open01">
                                                </TMPL_IF>

                                                <label for="open01">公開する</label>
                                                <TMPL_IF NAME=status>
                                                <input name="status" type="radio" value="0" id="open02">
                                                <TMPL_ELSE>
                                                <input name="status" type="radio" value="0" id="open02" checked>
                                                </TMPL_IF>
                                                <label for="open02">下書き</label>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td class="item-name">日付の表示</td>
                                      <td class="item">
                                                <TMPL_IF NAME=is_display_date>
                                                <input name="is_display_date" type="radio" value="1" id="date01" checked>
                                                <TMPL_ELSE>
                                                <input name="is_display_date" type="radio" value="1" id="date01">
                                                </TMPL_IF>
                                                <label for="date01">表示する</label>
                                                <TMPL_IF NAME=is_display_date>
                                                <input name="is_display_date" type="radio" value="0" id="date02">
                                                <TMPL_ELSE>
                                                <input name="is_display_date" type="radio" value="0" id="date02" checked>
                                                </TMPL_IF>
                                                <label for="date02">表示しない</label>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td class="item-name">コメント</td>
                                      <td class="item">
                                                <TMPL_IF NAME=comment_receive>
                                                <input name="comment_receive" type="radio" value="1" id="coment01" checked>
                                                <TMPL_ELSE>
                                                <input name="comment_receive" type="radio" value="1" id="coment01">
                                                </TMPL_IF>
                                                <label for="coment01">受け付ける</label>
                                                <TMPL_IF NAME=comment_receive>
                                                <input name="comment_receive" type="radio" value="0" id="coment02">
                                                <TMPL_ELSE>
                                                <input name="comment_receive" type="radio" value="0" id="coment02" checked>
                                                </TMPL_IF>
                                                <label for="coment02">受け付けない</label>
                                      </td>
                                    </tr>
                                  </table>
                                    <br>

                                    <div align="center">
                                      <TMPL_IF NAME=isnewlogic>
                                      <input name="set" type="button" id="set" value="プレビュー" onClick="<TMPL_IF NAME=isResponsiveTheme>responsiveTplPreview('diary');<TMPL_ELSE>newtpl_preview('diary');</TMPL_IF>">
                                      <TMPL_ELSE>
                                      <input name="set" type="button" id="set" value="プレビュー" onClick="preview('diary');">
                                      </TMPL_IF>
                                      <input name="set1" type="button" onClick="regist1();" id="set" value="設定を保存する">
                                      <br>
                                    </div>
                                  </td>
                                </tr>
                              </table></td>
                            </tr>
                        </table>
                        <img src="../imgs/spc.gif" <TMPL_IF NAME=displayHtmlEditor>onload="initEditor();"</TMPL_IF>>
                      </td>
                    </tr>
<input type="hidden" name="mode" value="">
<input type="hidden" name="entry_id" value="<TMPL_VAR NAME=entry_id>">
<input type="hidden" name="do_select" value="<TMPL_VAR NAME=do_select>">
<input type="hidden" name="do_title" value="<TMPL_VAR NAME=do_title>">
<input type="hidden" name="search_title" value="<TMPL_VAR NAME=search_title>">
<input type="hidden" name="search_catid" value="<TMPL_VAR NAME=search_catid>">
<input type="hidden" name="eid">
</form>
