<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Yahoo!ウォレットのお申し込みからサービス開始までの流れ</title>
<link rel="icon" type="image/png" href="../imgs/icon/sps_fav_32.png"/>
<meta http-equiv="Content-Type" content="text/html; charset=EUC-JP">
<link href="default00.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="pmapply_web.css" media="all">
<link rel="stylesheet" type="text/css" href="pmapply_print.css" media="print"> 
</head>
<body>
<h1>Yahoo!ウォレットのお申し込みからサービス開始までの流れ</h1>
<div id="mainBox" style="font-size:80%">


	<p class="pText">お申し込みは専用のお申し込み書を印刷、捺印し、必要書類を添付してＥストアー宛に郵送するだけです。</p>
	<p class="fRed" style="font-weight:bold">開店していなくても、お店の情報や商品の情報が用意されていれば、お申し込みいただけます。<br>審査の対象はお店のデザインやページ制作の完成度でなく、お店の情報と商品の情報です。</p><br>
	<p class="pText" style="font-weight:bold">サービス開始までの期間は、申込書類がＥストアーに到着後、約4週間です。</p>
	<p class="pText">※書類の不備や記載内容の相違などがあった場合、開始日が大幅に遅れることもあります。</p>
	<p class="fRed">特に、以下の名義人が同一でない場合は審査が受けられませんので十分ご留意ください。</p>

	<div class="fRed" style="margin:0.3em 0 0 0.8em;font-weight:bold">
		・&nbsp;Ｅストアーショップサーブのご契約名義<br>
		・&nbsp;「特定商取引に関する法律に基づく表示」の販売業者
	</div>

	<div class="stepBox">
		<div class="stepMidashi">１．お申し込み条項を確認、同意いただきます。</div>
		<span style="font-weight:bold">画面下部の規約をご確認いただいた上で、申込書をダウンロードしてください</span>
	</div>


	<div class="stepBox">
		<div class="stepMidashi">２．あらかじめ必要書類をご用意いただきます。</div>

		<div class="sText">


<p class="pText" style="font-weight:bold">以下のどちらの状態かによって、必要書類が異なります。</p>
■ 開店ウィザードを終了している場合（準備中の状態でも可）<br>
■ 開店ウィザードを終了していない場合（Ｅストアーショップサーブで作ったお店ページがない）<br><br>


			<table border="0" cellpadding="0" cellspacing="0" class="sTable">
                        <tr>
                                <td colspan="2" style="background:#C7EAF2;font-weight:bold;">
                                        ■ 開店ウィザードを終了している場合（準備中の状態でも可）
                                </td>
                        </tr>
			<tr>
				<th class="sTh02">必要な条件</th>
				<td class="sTd">
					１．開店ウィザードを完了している（自動的に次のページができています）<br>
					・ 商品ページ（メインに販売する商品を6点程度ご用意ください）<br>
					・ 特定商取引法の表記（販売資格が必要な商品を取り扱う場合は許可番号を記載してください）<br>
					２．お店が準備中（非公開）の場合でも、Ｅストアーがページを閲覧することに了承する <br>
				</td>
			</tr>
			<tr>
				<th class="sTh02">法人の場合</th>
				<td class="sTd">
					・ Ｅストアーショップサーブご契約法人名の印鑑証明書（発行日から3ヶ月以内の原本）<br>
					・ 販売資格が必要な商品を扱っている場合は、販売許可証あるいは販売免許証のコピー<br>
 					 （例）一般酒類小売業の免許、古物商許可証など 

				</td>
			</tr>
                        <tr>
                                <th class="sTh02">個人事業主の場合</th>
                                <td class="sTd">
                                        ・ Ｅストアーショップサーブご契約代表者の印鑑証明書（発行日から3ヶ月以内の原本）<br>
                                        ・ Ｅストアーショップサーブご契約代表者の住民票（発行日から3ヶ月以内の原本）<br>
                                        ・ 最新の確定申告書（青色申告書か白色申告書B）のコピー、もしくは、開業届のコピー<br>
                                        ・ 販売資格が必要な商品を扱っている場合は、販売許可証あるいは販売免許証のコピー<br>
                                          （例）一般酒類小売業の免許、古物商許可証など 

                                </td>
                        </tr>
                        <tr>
                                <th class="sTh02">個人の場合</th>
                                <td class="sTd">
                                        ・ Ｅストアーショップサーブご契約者ご自身の印鑑証明書（発行日より3ヶ月以内の原本）<br>
                                        ・ Ｅストアーショップサーブご契約者ご自身の住民票（発行日より3ヶ月以内の原本）<br>
                                        ・ 最新の確定申告書（青色申告書か白色申告書B）のコピー、もしくは、開業届のコピー<br>
                                        ・ 販売資格が必要な商品を扱っている場合は、販売許可証あるいは販売免許証のコピー<br>
                                          （例）一般酒類小売業の免許、古物商許可証など 


                                </td>
                        </tr>
			</table>

<br>

			<table border="0" cellpadding="0" cellspacing="0" class="sTable">
                        <tr>
                                <td colspan="2" style="background:#C7EAF2;font-weight:bold;">
                                        ■ 開店ウィザードを終了していない場合（Ｅストアーショップサーブで作ったお店ページがない）
                                </td>
                        </tr>
			<tr>
				<th class="sTh02">必要な条件</th>
				<td class="sTd">
					１．次のどちらかの方法で販売予定の商品が確認できる <br>
					・ 商品の画像、価格、内容がわかるカタログ（メイン商品を6点程度ご用意ください）<br>
					・ 既に他のサーバーで運営中のお店のURL<br>
					２．特定商取引法の表記を印刷したものが用意できる

				</td>
			</tr>
			<tr>
				<th class="sTh02">法人の場合</th>
				<td class="sTd">
					・ Ｅストアーショップサーブご契約法人名の印鑑証明書（発行日から3ヶ月以内の原本）<br>
					・ 販売資格が必要な商品を扱っている場合は、販売許可証あるいは販売免許証のコピー<br>
					  （例）一般酒類小売業の免許、古物商許可証など <br>
					・ 特定商取引法の表記を印刷したもの<br>
					・ 商品の画像、価格、内容がわかるカタログなど<br>
					  ※すでに他のサーバーでお店がある場合は、そのお店のURLで構いません。


				</td>
			</tr>
                        <tr>
                                <th class="sTh02">個人事業主の場合</th>
                                <td class="sTd">
                                        ・ Ｅストアーショップサーブご契約代表者の印鑑証明書（発行日から3ヶ月以内の原本）<br>
                                        ・ Ｅストアーショップサーブご契約代表者の住民票（発行日から3ヶ月以内の原本）<br>
                                        ・ 最新の確定申告書（青色申告書か白色申告書B）のコピー、もしくは、開業届のコピー<br>
                                        ・ 販売資格が必要な商品を扱っている場合は、販売許可証あるいは販売免許証のコピー<br>
                                          （例）一般酒類小売業の免許、古物商許可証など <br>
                                        ・ 特定商取引法の表記を印刷したもの<br>
                                        ・ 商品の画像、価格、内容がわかるカタログなど<br>
                                          ※すでに他のサーバーでお店がある場合は、そのお店のURLで構いません。


                                </td>
                        </tr>
                        <tr>
                                <th class="sTh02">個人の場合</th>
                                <td class="sTd">
                                        ・ Ｅストアーショップサーブご契約者ご自身の印鑑証明書（発行日より3ヶ月以内の原本）<br>
                                        ・ Ｅストアーショップサーブご契約者ご自身の住民票（発行日より3ヶ月以内の原本）<br>
                                        ・ 最新の確定申告書（青色申告書か白色申告書B）のコピー、もしくは、開業届のコピー<br>
                                        ・ 販売資格が必要な商品を扱っている場合は、販売許可証あるいは販売免許証のコピー<br>
                                          （例）一般酒類小売業の免許、古物商許可証など <br>
                                        ・ 特定商取引法の表記を印刷したもの<br>
                                        ・ 商品の画像、価格、内容がわかるカタログなど<br>
                                          ※すでに他のサーバーでお店がある場合は、そのお店のURLで構いません。



                                </td>
                        </tr>
			</table>

<br>

	<p class="fRed" style="font-weight:bold">販売許可書、販売免許証のコピーについて</p>
	<p class="pText">販売に許認可が必要な商品を取り扱っている場合は、法人、個人（個人事業主）を問わず必要となります。<br>例&gt; 食品衛生責任者の免許、一般酒類小売業の免許、古物商許可証</p>

<p class="pText">※インターネット上にて古物を取り扱う際は、管轄の公安委員会ホームページ上に、お客様の商号・認可番号を掲載する必要がございます。お申込前に必ず手続きをお済ませください。 </p>

	<p class="fRed" style="font-weight:bold">商品の画像、価格、内容がわかるカタログ・お店のURLについて</p>
	<p class="pText">必要な情報がまとまっていれば、エクセルやワードなどでご自身で作成し、印刷したもので構いません。<br>もちろん商品のメーカーが提供するパンフレットやカタログなどでも構いません。</p>
	<p class="pText">すでに他のサーバーにお店がある場合は、そのお店のURLを申込書に記載していただければ、そのお店で審査を行います。<br>URLの記入はお申込み書の『貴社ウェブサイト』にご記入ください。</p>


                </div>

	</div>

	<div class="stepBox">
		<div class="stepMidashi">３．最終画面から申込書を印刷します。</div>
		<div class="sText">
			申込書をA4用紙で印刷してください。<br>
		</div>
	</div>

	<div class="stepBox">
		<div class="stepMidashi">４．指定の印鑑で申込書に捺印します。</div>
		<div class="sText">
			【注意事項】必ず印鑑証明書と同じ印鑑でご捺印ください。<br>
		</div>
	</div>

	<div class="stepBox">
		<div class="stepMidashi">５．申込書と必要書類をＥストアーに郵送します。</div>
		<div class="sText">
                        <span style="font-weight:bold">
			印刷した「申込書」に捺印のうえ、先に用意した「必要書類」と共にＥストアーまで送付してください。<br>
                        重要書類につき、「宅配便」など配達記録の残る配送方法で送付頂くことをお勧めします。
                        </span>

			<div class="sAddr">

				〒105-0003<br>
				東京都港区西新橋1-10-2 住友生命西新橋ビル<br>
				株式会社Ｅストアー「Ｅストアー決済代行サービス受付係」行
			</div>

		</div>
	</div>

	<div class="stepBox">
		<div class="stepMidashi">６．審査が行われます。</div>
		<div class="sText">
			申込書がＥストアーに到着後、ＥストアーとYahoo! JAPANで審査を行います。<br>
			約4週間で審査結果を<span class="fRed">申込書記載のメールアドレス宛</span>にご連絡いたします。 書類の不備や記載内容に相違があった場合は電話もしくはメールでご連絡いたします。
		</div>
	</div>

	<div class="stepBox">
		<div class="stepMidashi">７．ご利用開始のご連絡をいたします。</div>
		<div class="sText">
			<span class="fRed">申込書記載のメールアドレス宛</span>に、Yahoo! JAPANからウォレットを利用するための、IDとパスワードがメールで送付されます。<br>
			その後、Ｅストアーからご利用開始のメールがきたら、管理画面より、Yahoo! JAPANから届いたIDとパスワードを設定してください。<br>
		</div>
	</div>

        <br>
        <div align="center">
            <a href="http://estore.co.jp/kiyaku/shopserve_agreement.pdf"  target="_blank">Ｅストアーショップサーブ規約</a>
        </div>
        <div align="center"><br>
            <form name='YahooDL' action='download_yw_pdf.cgi' method='POST'>
                <input type='submit' name='DL' value='規約に同意して申し込み書類をダウンロード'>
            </form>
        </div>

    <br>
    <div align=center>
        <input type="button" value="閉じる" onclick="window.close();">
    </div>
</div>

</body>
</html>
