<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=EUC-JP">
<title>スピード入金（月6回）サービス　お申込みからサービス開始までの流れ</title>
<link rel="icon" type="image/png" href="../imgs/icon/sps_fav_32.png"/>
<link rel="stylesheet" type="text/css" href="moushikomi.css" media="all">

</head>
<body>

<form name="EXPRESS01" method="POST" action="express01.cgi">
<input type="hidden" name="CMD" value="NEXT">

<div id="mainBox">

<h1>スピード入金（月6回）サービス　お申込みからサービス開始の流れ</h1>

<p class="pText">お申込みは本画面にて簡単に行えます。</p>





<h2 class="midashi">お申込みから利用開始までのフロー</h2>

<div class="stepBox">
<div class="stepMidashi">１．お申込み内容を確認し、規約に同意いただきます</div>
<div class="sText">
この画面を下まで読んでいただき、【お申込確認画面に進む】ボタンを押すと、お申込み確認の画面に進みます。<br>
決済担当者を確認して頂き、注意事項を確認し、規約に同意した上で、お申込みを完了して下さい。
</div>
</div>


<div class="stepBox">
<div class="stepMidashi">２．受付完了のメールが届きます</div>
<div class="sText">
お申込み完了後、システムより自動で受付完了のメールが届きます。<br>
お申込み番号を控えて頂き、審査完了までお待ちください。
</div>
</div>


<div class="stepBox">
<div class="stepMidashi">３．審査が行われます</div>
<div class="sText">
申込内容をＥストアーにて確認後、審査を行います。<br>
お申込み内容における確認事項があった場合は、電話もしくはメールにてご連絡いたします。
</div>
</div>

<div class="stepBox">
<div class="stepMidashi">４．審査結果のご連絡を致します</div>
<div class="sText">
決済担当者メールアドレス宛に、ご利用開始のご連絡をいたします。<br>
また、スピード入金（月6回）サービスが利用可能となりましたら、利用開始日も併せてご連絡致します。
</div>
</div>


<div class="stepBox">
<div class="stepMidashi">５．サービス利用開始</div>
<div class="sText">
利用開始日より、自動的にスピード入金（月6回）サービスが適用されます。<br>
本サービスのご利用開始日以降に売上確定した受注から対象となります。
</div>
</div>



<h2 class="midashi">審査期間について</h2>

<ul>
<li>審査完了の目安は、本申込みが完了後２〜４週間となっております。</li>
<li style="color:red;">お申込みの混雑状況により、４週間以上かかる場合がございます。ご了承ください。</li>
</ul>


</div>

<div class="footbutton">
<input type="button" onClick="document.EXPRESS01.submit();" value="お申込確認画面に進む">
</div>

</form>

</body>
</html>
