<table width="100%"  border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
 <tr>
  <td width="12">
   <table width="50%" align="right"  border="0" cellspacing="0" cellpadding="0" height="20" bgcolor="#CD3E1C">
    <tr>
     <td><img src="../imgs/spc.gif"></td>
    </tr>
   </table></td>
<!-- 0607用 -->
   <TD class=midashi align=left>携帯カートの設定を行います</TD>
   <TD class=midashi align=right>
<!-- 0607用 -->
<A href="<TMPL_VAR NAME=Manual>guide/mobile.html" target="manual"><img src="../imgs/help_link.gif" alt="この機能のヘルプをみる" align="center" height="22" width="153" border="0"></A>
   </TD>
 </tr>
</table>

<img src="../imgs/spc.gif" width="5" height="5">

<!-- 利用開始クリック後（設定中）の画面 -->
<table width="100%"  border="0" cellpadding="0" cellspacing="0">
<tr>
	<td align="left" class="main-table">
	<table class="item-box" width="100%">
	<tr>
		<td class="item-name02" align="center">携帯カートの利用について</td>
	</tr>
	<tr>
		<td class="item">
		<div style="padding:5px">
			<div style="font-weight:bold;color:#ff0000;font-size:1.1em;margin:0.5em 0 1em 0;text-align:center">
			現在、携帯カートの設定を行っておりますので、今しばらくお待ちください。
			</div>
			携帯カートをご利用いただく場合は、［携帯カート利用開始］ボタンをクリックしてください。
			<div style="margin:1.5em 0;text-align:center"><input type="button" value="携帯カート利用開始" disabled></div>
			・利用開始をクリック後、1〜2時間で携帯カートが利用可能になります。<br>
			・利用可能になりますと、本画面が携帯カートの各種設定を行う画面に切り替わります。<br>
			・新たに携帯用お店ページに最適化した商品画像が作成されますので、サーバーの使用量が増加します。<br>
			<span style="margin:0 0 0 0.53em">使用量の目安 ： 商品数×携帯用商品画像のサイズ（元画像が1MB以内の場合5〜10KB程度）</span>
		</div>
		</td>
	</tr>
	</table>
	<br>
	</td>
</tr>
</table>
<!-- 0609用変更箇所ここまで -->

