<pre>
<TMPL_VAR NAME=subject>

<TMPL_VAR NAME=greeting>

■ご注文内容 -------------------------------------------------------

   ◆ ご注文番号 12345678
   ◆ ご注文日時 2006/01/05 13:00
   ◆ お支払方法 <TMPL_VAR NAME=method>
   ◆ お支払金額 123円（税込）

                                                   （全て税込価格）
   ================================================================
       品名                  価格          数量               小計
   ================================================================
   商品名
                            123円            1               123円
   ================================================================
   商品合計                                                  123円
   ================================================================
   送料                                      1                 0円
   手数料                                                      0円
   ラッピング等                              0                 0円
   ================================================================
   合計金額                                                  123円
   ================================================================

■ご注文者 ---------------------------------------------------------

   [法人名・団体名]        法人名
   [法人名・団体名(かな)]  ほうじんめい
   [部署名]                部署
   [お名前]                山田 太郎
   [お名前(かな)]          やまだ たろう
   [郵便番号]              123-4567
   [ご住所]                東京都港区西新橋1-10-2
   [お電話番号]            03-1234-5678
   [FAX番号]               --
   [メールアドレス]        xxx@xxx.co.jp

■お届け先 ---------------------------------------------------------
   
   [法人名・団体名]        法人名
   [法人名・団体名(かな)]  ほうじんめい
   [部署名]                部署
   [お名前]                山田 太郎
   [お名前(かな)]          やまだ たろう
   [郵便番号]              123-4567
   [ご住所]                東京都港区西新橋1-10-2
   [お電話番号]            03-1234-5678
   [FAX番号]               --
   
   [お届け希望時間]        午前
   [都合の悪い日]          
   
   [その他ご要望]                                                  
   

■お支払い方法 -----------------------------------------------------

   <TMPL_VAR NAME=method_msg>

<TMPL_VAR NAME=contact>
</pre>

<center>
<input type="button" value="閉じる" onClick="window.close();">
</center>

