<style type="text/css">
<!--
.style5 {color: #FF0000}
-->
</style>
<script language="JavaScript">
<!--
function ok() {
  if ( document.MOBILE.kiyaku.checked == false ) {
    alert("規約にご同意下さい。");
    return;
  } else {
    document.MOBILE.submit();
  }
}
//-->
</script>
<form method="post" action="mob.cgi" name="MOBILE">
<link href="default00.css" rel="stylesheet" type="text/css">
<TMPL_IF NAME=STATUSN>
<table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%">
    <tbody><tr>
	<td width="12">
	    <table align="right" bgcolor="#677c87" border="0" cellpadding="0" cellspacing="0" height="20" width="50%">
		<tbody><tr>
		    <td><img src="../imgs/spc.gif" height="8" width="8"></td>
		</tr>
	    </tbody></table>
	</td>
<td class="midashi" align="left">携帯カートを申し込みます</td>
<td class="midashi" align="right"><a href="<TMPL_VAR NAME=Manual>guide/mobile.html" target="manual"><img src="../imgs/help_link.gif" alt="この機能のヘルプをみる" align="center" height="22" width="153" border="0"></a></td>
    </tr>
</tbody></table>
                          <img src="../imgs/spc.gif" height="5" width="5">
                          <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tbody><tr>
                              <td class="main-table" align="left" style="line-height:140% "><table width="100%"  border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><img src="../imgs/mobile_logo.gif" width="210" height="44"></td>
    </tr>
</table>
                              <hr size="1" style="border-style:solid; color:#111D3B" width:95% align="center">
<br>

<img src="../imgs/mobile_txt_title.gif" width="380" height="19"><br>
<table width="100%"  border="0" cellspacing="2" cellpadding="0">
              <tr>
                <td colspan="2" bgcolor="#E9F2FC" style="padding:10px;line-height:140%; border:1px dashed #111D3B; ">もはや誰もが持っている携帯電話。電車待ちの間やちょっとした合間にご利用いただけるので、リピーターやインターネットユーザー以外の潜在顧客を引き出すことができます。また、メールマガジンなどを使っての顧客誘導など用途はさまざまです。<br>
	  <br>
	  ご利用方法については、<B>「<a href="<TMPL_VAR NAME=Manual>guide/mobile.html" target="_blank">サービス詳細</a>」</B>をご覧ください。</td>
              </tr>
          </table>
<!-- 060726キャンペーン用8月31日〜9月1日に削除 -->
<div style="font-size:160%;font-weight:bold;color:#ff0000;padding:1.5em 0 0">7月〜9月はキャンペーンにつき月額利用料無料です！！</div>
<!-- 060726キャンペーン用8月31日〜9月1日に削除 -->

<p>
    <img src="../imgs/mobile_price.gif" width="555" height="67"><BR>
  <B>※　申し込みした月から月額利用料が発生いたします。</B>
  <P>
  ■　お申し込み手順<br>
  ページ下記の[申込手続き]ボタンをクリックしてください。次の画面で内容を確認したうえで、[申し込む]ボタンをクリックするとお申し込み完了です。<br>
  お申し込みが完了してから1〜2時間でご利用いただけます。
  </P>
  <P>
  ■　設定手順<br>
  申込手続き完了後、携帯カートが利用可能となりましたら、管理画面「集客・運用」の「携帯カートの設定」で携帯用商品ページの設定を行います。<BR>
  また、商品情報に携帯用商品ページの入力項目が追加されますので、「お店運営」の「商品台帳」で商品番号をクリックし、確認、編集を行ってください。
  </P>
</p>
<div align="center">
  <input type="submit" value="申込手続き">　
</div></td>
                            </tr>
                        </tbody></table>
<input type="hidden" name="Status" value="1">
<input name="CMD" value="N2" type="hidden">
</TMPL_IF>
<TMPL_IF NAME=STATUSN2>
<table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%">
    <tbody><tr>
	<td width="12">
	    <table align="right" bgcolor="#677c87" border="0" cellpadding="0" cellspacing="0" height="20" width="50%">
		<tbody><tr>
		    <td><img src="../imgs/spc.gif" height="8" width="8"></td>
		</tr>
	    </tbody></table>
	</td>
<td class="midashi" align="left">携帯カートを申し込みます</td>
<td class="midashi" align="right"><a href="<TMPL_VAR NAME=Manual>guide/mobile.html" target="manual"><img src="../imgs/help_link.gif" alt="この機能のヘルプをみる" align="center" height="22" width="153" border="0"></a></td>
    </tr>
</tbody></table>
                          <img src="../imgs/spc.gif" height="5" width="5">
                          <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tbody><tr>
                              <td class="main-table" align="left" style="line-height:140% "><table width="100%"  border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><img src="../imgs/mobile_logo.gif" width="210" height="44"></td>
    </tr>
</table>
                                <hr size="1" style="border-style:solid; color:#111D3B" width:95% align="center">
                                                  <div class="co_title">携帯カートを申し込みます。 </div>

                                                  <p>「Ｅストアーショップサーブ規約」を確認のうえ「規約に同意する」にチェックをつけ、[申し込む]ボタンをクリックしてください。
												  </p>
												  <p>
                                                  ・[申し込む]ボタンをクリックするとお申込み処理を開始し、1〜2時間で携帯カートが利用できます。<br>
                                                  ・<span class="style5"><B>お申し込みされた日（ご利用開始日）を含む月からオプション利用料9,800円(税込)がかかります。<BR>（日割り計算はありません）</B></span><br>
                                                  ・携帯用お店ページの設定は<a href="<TMPL_VAR NAME=Manual>guide/mobile.html" target="_blank">こちら</a>をご覧ください。
                                                  </p>
												  <P>
                                                  <a href="http://estore.co.jp/kiyaku/shopserve_agrement.html#price" target="_blank">>>Ｅストアーショップサーブ規約を読む</a></p>
                                                  <P><input type="checkbox" name="kiyaku">
                                                  　 規約に同意する </p>

<hr size="1" style="border-style:dashed; color:#111D3B" width:95% align="center">
<div align="center"><input type="button" onClick="ok();" value="申し込む">　
<input type="button" value="戻る" onClick="history.back();"></div>

                              </td>
                            </tr>
                        </tbody></table>
<input name="CMD" value="1" type="hidden">
<input name="Status" value="1" type="hidden">
</TMPL_IF>
<TMPL_IF NAME=STATUSI>
<table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%">
    <tbody><tr>
	<td width="12">
	    <table align="right" bgcolor="#677c87" border="0" cellpadding="0" cellspacing="0" height="20" width="50%">
		<tbody><tr>
		    <td><img src="../imgs/spc.gif" height="8" width="8"></td>
		</tr>
	    </tbody></table>
	</td>
<td class="midashi" align="left">携帯カートの申込処理中です</td>
<td class="midashi" align="right"><a href="<TMPL_VAR NAME=Manual>guide/mobile.html" target="manual"><img src="../imgs/help_link.gif" alt="この機能のヘルプをみる" align="center" height="22" width="153" border="0"></a></td>
    </tr>
</tbody></table>
                          <img src="../imgs/spc.gif" height="5" width="5">
                          <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tbody><tr>
                              <td class="main-table" align="left" style="line-height:140% "><table width="100%"  border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><img src="../imgs/mobile_logo.gif" width="210" height="44"></td>
    </tr>
</table>
                                <hr size="1" style="border-style:solid; color:#111D3B" width:95% align="center">

<div class="co_title">現在、携帯カートの申込処理中です。

</div>
<P>
画像台帳のファイルを携帯電話向けに変換する作業を行っています。<br>
この作業中は携帯電話のお店ページで画像が表示されない場合があります。<br>
変換作業は1〜2時間で終了いたしますので、作業終了後に携帯用お店ページの設定を行ってください。
</P>
<div class="co_title">携帯カートの設定方法</div>
<P>管理画面「集客・運用」の「携帯カートの設定」で携帯用商品ページの設定を行います。<BR>
商品情報に携帯用商品ページの入力項目が追加されますので、「お店運営」の「商品台帳」で商品番号をクリックし、確認、編集を行ってください。 <BR>
<BR>
ご利用方法については、<A HREF="<TMPL_VAR NAME=Manual>guide/mobile.html" target="_blank"><B>「サービス詳細」</B></A>をご覧ください。

</P>
<div align="center">
</div></td>
                            </tr>
                        </tbody></table>
</TMPL_IF>
<TMPL_IF NAME=STATUSY>
<table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%">
    <tbody><tr>
	<td width="12">
	    <table align="right" bgcolor="#677c87" border="0" cellpadding="0" cellspacing="0" height="20" width="50%">
		<tbody><tr>
		    <td><img src="../imgs/spc.gif" height="8" width="8"></td>
		</tr>
	    </tbody></table>
	</td>
<td class="midashi" align="left">携帯カートを利用中です</td>
<td class="midashi" align="right"><a href="<TMPL_VAR NAME=Manual>guide/mobile.html" target="manual"><img src="../imgs/help_link.gif" alt="この機能のヘルプをみる" align="center" height="22" width="153" border="0"></a></td>
    </tr>
</tbody></table>

                          <img src="../imgs/spc.gif" height="5" width="5">
                          <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tbody><tr>
                              <td class="main-table" align="left" style="line-height:140% "><table width="100%"  border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><img src="../imgs/mobile_logo.gif" width="210" height="44"></td>
    </tr>
</table>
                                <hr size="1" style="border-style:solid; color:#111D3B" width:95% align="center">
<div class="co_title">現在「携帯カート」を利用中です。</div>
<!-- 060726キャンペーン用8月31日〜9月1日に削除 -->
<div style="font-size:160%;font-weight:bold;color:#ff0000;padding:0.5em 0 0">7月〜9月はキャンペーンにつき月額利用料無料です！！</div>
<!-- 060726キャンペーン用8月31日〜9月1日に削除 -->

<BR><BR>
<div class="co_title">携帯カートの設定方法</div>
<P>管理画面「集客・運用」の「携帯カートの設定」で携帯用商品ページの設定を行います。<BR>
商品情報に携帯用商品ページの入力項目が追加されますので、「お店運営」の「商品台帳」で商品番号をクリックし、確認、編集を行ってください。 <BR>
<BR>
ご利用方法については、<A HREF="<TMPL_VAR NAME=Manual>guide/mobile.html" target="_blank"><B>「サービス詳細」</B></A>をご覧ください。
</P>
<BR>
<div class="co_title">携帯カートの解約手続き</div>
<P>携帯カートを解約する場合は、[解約手続き]ボタンをクリックしてください。</P>

</ol>
■　解約の際の注意<br>
・解約しても、手続きを行った月の末日まではご利用いただけます。月額利用料は解約手続きを行った月分まで発生します。<br>
・解約手続きを行った月の末日までであれば、解約手続きの取り消しができます。<BR>
<br><hr size="1" style="border-style:dashed; color:#111D3B" width:95% align="center">
<div align="center"><input type="submit" value" value="解約手続き">
</div>
                              </td>
                            </tr>
                        </tbody></table>
<input name="CMD" value="Y2" type="hidden">
</TMPL_IF>
<TMPL_IF NAME=STATUSY2>
<table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%">
    <tbody><tr>
	<td width="12">
	    <table align="right" bgcolor="#677c87" border="0" cellpadding="0" cellspacing="0" height="20" width="50%">
		<tbody><tr>
		    <td><img src="../imgs/spc.gif" height="8" width="8"></td>
		</tr>
	    </tbody></table>
	</td>
<td class="midashi" align="left">携帯カートを解約します</td>
<td class="midashi" align="right"><a href="<TMPL_VAR NAME=Manual>guide/mobile.html" target="manual"><img src="../imgs/help_link.gif" alt="この機能のヘルプをみる" align="center" height="22" width="153" border="0"></a></td>
    </tr>
</tbody></table>
                          <img src="../imgs/spc.gif" height="5" width="5">
                          <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tbody><tr>
                              <td class="main-table" align="left" style="line-height:140% "><table width="100%"  border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><img src="../imgs/mobile_logo.gif" width="210" height="44"></td>
    </tr>
</table>
                                <hr size="1" style="border-style:solid; color:#111D3B" width:95% align="center">
<div class="co_title">携帯カートを解約します。
</div>

<P>よろしければ[解約する]ボタンをクリックしてください。
</P>
■　解約の際の注意<br>
・解約しても、手続きを行った月の末日まではご利用いただけます。月額利用料は解約手続きを行った月分まで発生します。<br>
・解約手続きを行った月の末日までであれば、解約手続きの取り消しができます。<BR><BR>
<hr size="1" style="border-style:dashed; color:#111D3B" width:95% align="center">
<div align="center"><input type="submit" value="解約する">
<input type="button" onClick="history.back();" value="戻る">
</div></td>
                            </tr>
                        </tbody></table>
<input name="CMD" value="1" type="hidden">
</TMPL_IF>
<TMPL_IF NAME=STATUSC>
<table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%">
    <tbody><tr>
	<td width="12">
	    <table align="right" bgcolor="#677c87" border="0" cellpadding="0" cellspacing="0" height="20" width="50%">
		<tbody><tr>
		    <td><img src="ftp.../imgs/spc.gif" height="8" width="8"></td>
		</tr>
	    </tbody></table>
	</td>
<td class="midashi" align="left">携帯カートの解約を受け付けました</td>
<td class="midashi" align="right"><a href="<TMPL_VAR NAME=Manual>guide/mobile.html" target="manual"><img src="../imgs/help_link.gif" alt="この機能のヘルプをみる" align="center" height="22" width="153" border="0"></a></td>
    </tr>
</tbody></table>
                          <img src="../imgs/spc.gif" height="5" width="5">
                          <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tbody><tr>
                              <td class="main-table" align="left" style="line-height:140% "><table width="100%"  border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><img src="../imgs/mobile_logo.gif" width="210" height="44"></td>
    </tr>
</table>
                                <hr size="1" style="border-style:solid; color:#111D3B" width:95% align="center">
<div class="co_title">現在、携帯カートの解約を受け付けました。
</div>
<P>
解約手続きを行った月の末日までご利用いただけます。月額利用料は手続きを行った月分まで発生します。<br><BR>
解約手続きを行った月の末日までは、解約手続きを取り消すことができます。<br>
解約を取り消す場合は、「解約手続きを取り消す」ボタンをクリックしてください。<BR>
<BR>
なお、解約の取り消しに料金は必要ありません。</P>
<BR>
<hr size="1" style="border-style:dashed; color:#111D3B" width:95% align="center">
<div align="center">
  <input type="submit" value="解約手続きを取り消す">
</div></td>
                            </tr>
                        </tbody></table>
<input name="CMD" value="1" type="hidden">
<input name="Status" value="Y" type="hidden">
</TMPL_IF>
</form>
