	<script language="javascript">
		<!--
		function linkfile() {
		  //初期値
		  myD        = new Date();
		  myYearTmp  = myD.getYear();
		  myMonthTmp = myD.getMonth() + 1;

		  //年取得
		  myYear     = (myYearTmp < 2000) ? myYearTmp+1900 : myYearTmp;

		  //年末年始対策
		  if(myMonthTmp == 1 ){
		    myMonthTmp = myMonthTmp = 12;  //今月が1月の場合は12月とする
		    myYear = myYear - 1;           //年から-1し、前年とする。
		  }else{
		    myMonthTmp = myMonthTmp - 1;   //月から-1し、前月とする。
		  }

		  //月が9以下なら0をつける
		  myMonth    = (myMonthTmp < 10) ? "0"+myMonthTmp : myMonthTmp;
		  myFilename = "notice" + myYear + myMonth + ".html";
		  locationUrl = "http://www.estore.jp/sps/info/" + myFilename;
		  window.open(locationUrl,'info');
		}
		//-->
		</script>

<div id="main">
	<div style="border:1px solid #999;border-radius:4px;box-shadow:0 0 3px #ddd;">
		<a style="display:block;padding:26px 0;text-align:center;font-family:meiryo;font-size:20px;text-decoration:none;text-shadow:0px 0px 1px #aab1bd;color:#1a3b6c;font-weight:bold;" href="taxinfo.cgi">
			消費税率の引き上げにともなう対応について
		</a>
	</div>


<!-- 緊急告知ここから -->




<!-- 緊急告知ここまで -->





<!-- サービスバナースペース１ここから--> 

<div class="bannar">


<!-- ＲＥＰ、ＦＡＱここから -->
<div class="bannar_l">
<a href="../clube/clube.cgi?p=%2Fshop_report%2Freport.html?utm_source%3Dkanri%26utm_medium%3Drep" target="_blank">11月号レポート配信開始！［09/12/03］</a></div>

<div class="bannar_r">
<a href="http://manualsps.jp/faq/?utm_source=kanri&utm_medium=faq" target="_blank">お問い合わせの前にご確認ください
</a>
</div>
<div class="clear"></div>
<!-- ＲＥＰ、ＦＡＱここまで -->

<!-- ＸＳここから -->
<br>
</div>
<br>
<a href="http://manual.estore.co.jp/shopserve/katsuyo/?utm_source=kanri&utm_medium=katsuyo2" target="_blank">お役立ち素材集＆テクニック！</a>
</div>
<div class="clear"></div>
<!-- ＸＳここまで -->


<!-- ミニバナーここから -->
<div class="bnr_mini1">
<!-- ミニバナーここまで -->


<!-- ちぃアドここから -->
<!-- ちぃアドここまで -->

</div>
<!-- サービスバナースペース１ここまで -->

<!-- お知らせテキストここから -->
<div class="info">
<div class="info_title">
<table border="0">
<tr>
<td><h2>各種おしらせ</h2></td>
</tr>
</table>

</div>

<!-- 各種おしらせ -->
<ul>
<li>
<a href="https://shopserve.jp/request/enq_intro2.html?id=4207&utm_source=4207txt&utm_medium=kanri" target="_blank">
[09/12/11]特別なご対応をいたします。お知り合いをご紹介ください
</a><span class="new">NEW</span></li>

<li><a href="../clube/clube.cgi?p=%2Fshop_report%2Freport.html?utm_source%3Dkanri%26utm_medium%3Drep" target="_blank">
[09/12/03] 11月の店舗分析レポートの配信を開始しました
</a></li>

<li><a href="http://www.estore.jp/sps/info/index.html#20091202A" target="_blank">
[09/12/02] Ｅストアーショップサーブ　新コースのご案内
</a></li>

<div class="info_title">
<table border="0">
<tr>
<td><h2>セミナー開催スケジュール</h2></td>
</tr>
</table>
</div>
<!-- セミナースケジュール -->
<ul>

<li><a href="http://manabi.ma.shopserve.jp/?utm_source=kanri&utm_medium=seminar">★12/16（水）≪東京≫他、スタートセミナー申込み受付中</a><span class="new">NEW</span></li>


</ul>


<div class="info_title">
<table border="0">
<tr>
<td><h2>メンテナンス・システム情報</h2></td>
</tr>
</table>
</div>

<!-- メンテナンス・システム情報 -->
<li><a href="http://www.estore.jp/sps/info/index.html#200912109A" target="info">
[09/12/10] 年末年始営業時間のお知らせ</a></li>
<li><a href="http://www.estore.jp/sps/info/index.html#20091209A" target="info">
[09/12/09] 12月定期メンテナンスのお知らせ</a></li> 
<li><a href="http://www.estore.jp/sps/info/index.html#20091118A" target="info">
[09/11/18] 機能追加完了のお知らせ </a></li> 
<ul>
<li><a href="http://www.estore.jp/sps/info/index.html#20091113A" target="info">
[09/11/13] 機能追加のお知らせ </a></li> 
<ul>
<li><a href="http://www.estore.jp/sps/info/index.html#20091111A" target="info">
[09/11/11] 11月定期メンテナンス実施のお知らせ[実施日：11/18]</a></li> 
<ul>







</ul>
</div>
<!-- お知らせテキストここまで -->

<!-- サービスバナースペース２ここから -->
<div class="bannar">



</div>

<!-- サービスバナースペース２ここまで -->
</div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-1954315-6");
pageTracker._trackPageview();
} catch(err) {}</script>
