<table width="100%"  border="0" cellpadding="0" cellspacing="2" class="item-box">
    <tr align="center">
        <td colspan="2" class="item-name02">注文確認メール設定（モバイル用）</td>
    </tr>
    <tr>
        <td class="item-name">件名</td>
        <td class="item">
            <input name="ORDMAIL_SUBJECT_K" type="text" class="def-line" value="<TMPL_VAR name=ORDMAIL_SUBJECT_K>">
        </td>
    </tr>
    <tr>
        <td class="item-name">挨拶文</td>
        <td class="item">
            <textarea name="ORDMAIL_GREETING_K" rows="5" wrap="VIRTUAL" class="def-line"><TMPL_VAR name=ORDMAIL_GREETING_K></textarea>
        </td>
    </tr>
    <tr>
        <td class="item-name">
            <select name="ORDMAIL_ORDERDISP_K">
                <option value="Y" <TMPL_VAR name=ORDMAIL_ORDERDISP_K_Y>>表示</option>
                <option value="N" <TMPL_VAR name=ORDMAIL_ORDERDISP_K_N>>非表示</option>
            </select>
            ご注文内容
        </td>
        <td class="item">
            <div style="font-size:90%; margin:5px 5px 5px 5px">
            <pre>■ご注文内容
[ご注文番号] xxxxxxxx
[ご注文日時] 2005/12/15 20:05
[お支払方法] 銀行振込
[お支払金額] 1,800円（税込）
                  (全て税込価格)
商品名 価格 数量
蜜入りりんご 200円 4 
緑茶 ペットボトル 125円 4
[商品合計] 1,300円
[送料] 500円
[ラッピング等] 0円
[手数料] 0円
[ポイント利用料] 0円
==========
合計金額 1,800円</div>
        </td>
    </tr>
    <tr>
        <td class="item-name">
            <select name="ORDMAIL_PURDISP_K">
                <option value="Y" <TMPL_VAR name=ORDMAIL_PURDISP_K_Y>>表示</option>
                <option value="N" <TMPL_VAR name=ORDMAIL_PURDISP_K_N>>非表示</option>
            </select>
            ご注文者
        </td>
        <td class="item">
            <div style="font-size:90%; margin:5px 5px 5px 5px">
            <pre>■ご注文者
[法人名・団体名] 株式会社田中工業
[法人名・団体名（かな）]かぶしきがいしゃたなかこうぎょう
[部署名]
[お名前] 山田 太郎 様
[郵便番号] 105-0003
[ご住所] 新宿区新宿10-10-10サンプルビル
[お電話番号] 03-3333-3333
[メールアドレス] yamada@test-domain.com</pre>
            </div>
        </td>
    </tr>
    <tr>
        <td class="item-name">
            <select name="ORDMAIL_PURQDISP_K">
                <option value="Y" <TMPL_VAR name=ORDMAIL_PURQDISP_K_Y>>表示</option>
                <option value="N" <TMPL_VAR name=ORDMAIL_PURQDISP_K_N>>非表示</option>
            </select>
            ご注文者補足
        </td>
        <td class="item">
            <div style="font-size:90%; margin:5px 5px 5px 5px">
<pre>
[当店をどこでお知りになりましたか？]
Yahoo!Japan
[お誕生日の月を以下から選択してください]
2月
[年齢を選択してください]
20〜29歳
[ご職業を選択してください]
会社員
[問い５番]
答え５番
</pre>
            </div>
        </td>
    </tr>
    <tr>
        <td class="item-name">
            <select name="ORDMAIL_DELIVDISP_K">
                <option value="Y" <TMPL_VAR name=ORDMAIL_DELIVDISP_K_Y>>表示</option>
                <option value="N" <TMPL_VAR name=ORDMAIL_DELIVDISP_K_N>>非表示</option>
            </select>
            お届け先
<p style="font-weight:normal; color:#FF0000">赤字部分は複数のお届け先がある場合に表示されます</p>
        </td>
        <td class="item">
            <div style="font-size:90%; margin:5px 5px 5px 5px">
            <pre>■お届け先
<font color="#FF0000">◆お届け先1</font>
[法人名・団体名] 株式会社田中工業
[法人名・団体名(かな)] かぶしきがいしゃたなかこうぎょう
[部署名] 
[お名前] 山田 太郎 様
[郵便番号] 105-0003
[ご住所] 東京都新宿区新宿10-10-10サンプルビル
[お電話番号] 03-3333-3333
<font color="#FF0000">
[お届け商品]
                  (全て税込価格)
商品名 価格 数量
蜜入りりんご 200円 2 
緑茶 ペットボトル 125円 2
[商品合計] 650円

[送料] 250円
[ラッピング等] 0円
==========
合計金額 900円
</font></div>
        </td>
    </tr>
    <tr>
        <td class="item-name">
            <select name="ORDMAIL_BIKOUDISP_K">
                <option value="Y" <TMPL_VAR name=ORDMAIL_BIKOUDISP_K_Y>>表示</option>
                <option value="N" <TMPL_VAR name=ORDMAIL_BIKOUDISP_K_N>>非表示</option>
            </select>
            お届け先補足
        <td class="item">
            <div style="font-size:90%; margin:5px 5px 5px 5px">
            <pre>
[お届け希望日] 特になし
[お届け希望時間] 5：00〜18：00
[都合の悪い日] 日曜日

[その他ご要望]
なるべく早く届けてください</pre>
            </div>
        </td>
    </tr>
    <tr>
        <td class="item-name">
            <select name="ORDMAIL_PAYDISP_K">
                <option value="Y" <TMPL_VAR name=ORDMAIL_PAYDISP_K_Y>>表示</option>
                <option value="N" <TMPL_VAR name=ORDMAIL_PAYDISP_K_N>>非表示</option>
            </select>
            お支払方法
        </td>
        <td class="item">
            <div style="font-size:90%; margin:5px 5px 5px 5px">
            <pre>■お支払い方法
[銀行振込]
イーコーポレート銀行 新橋支店 普通 1234567 カ）オイシイビン</pre>
            </div>
        </td>
    </tr>
    <tr>
        <td class="item-name">
            <select name="ORDMAIL_PMMSGDISP_K">
                <option value="Y" <TMPL_VAR name=ORDMAIL_PMMSGDISP_K_Y>>表示</option>
                <option value="N" <TMPL_VAR name=ORDMAIL_PMMSGDISP_K_N>>非表示</option>
            </select>
            ご案内
        </td>
        <td class="item">
            <div style="font-size:90%; margin:5px 5px 5px 5px">
            <pre>振込み確認後、2営業日以内に発送いたします。おそれいりますが、
振り込み手数料はご負担くださいますようお願いいたします。</pre>
            </div>
        </td>
    </tr>
    <tr>
        <td class="item-name">連絡先</td>
        <td class="item">
            <textarea name="ORDMAIL_CONTACT_K" rows="5" wrap="VIRTUAL" class="def-line"><TMPL_VAR name=ORDMAIL_CONTACT_K></textarea>
        </td>
    </tr>
</table>

