<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Ｅストアーショップサーブ　決済代行申し込み</title>
<link rel="icon" type="image/png" href="../imgs/icon/sps_fav_32.png"/>
<meta http-equiv="Content-Type" content="text/html; charset=EUC-JP">
<link href="default00.css" rel="stylesheet" type="text/css">
<script language="JavaScript" type="text/JavaScript">
<!--
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}
//-->
</script>

</head>
<body>
<a name="top"></a>
<div style="font-size:80%" align="center">
  <table width="600"  border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td align="center"><img src="imgs/payment_navi08.gif" width="590" height="52"></td>
    </tr>
    <tr>
      <td align="left" height="15"><img src="../imgs/spc.gif" width="5" height="5"></td>
    </tr>
  </table>
  <table width="600"  border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td align="left" class="outbox"><div class="midashi">申込書印刷</div>
        <br>
        <table width="95%" border="0" cellspacing="0" cellpadding="0" align="center">
          <tr>
            <td class="comment_box">各決済種別ごとに申込書を印刷し、署名、捺印のうえ弊社までお送りください。<SPAN 
class=redj12><br>
              全ての申込書の印刷を終えたら、「閉じる」ボタンを押してこのページを閉じてください。
            </SPAN></td>
          </tr>
        </table>
        <br>
        <div align="center">        </div>
        <table width="95%" border="0" cellspacing="0" cellpadding="0" align="center">
          <tr>
            <td bgcolor="#666666"><table width="100%" border="0" cellspacing="1" cellpadding="0" align="center">
                <tr>
                  <td bgcolor="#FFFFFF" class="box_title">お申込み決済代行種別</td>
                </tr>
                <tr>
                  <td bgcolor="#FFFFFF" class="inbox"><br>
                      <table width="95%" border="0" cellspacing="0" cellpadding="0" align="center">
                        <tr>
                          <td bgcolor="#333333">
			    <table width="100%" border="0" cellspacing="1" cellpadding="1" align="center">
<TMPL_LOOP PMLIST>
                              <tr align="left">
                                <td class="box_txt" style="padding:7px"><table width="100%"  border="0" cellspacing="0" cellpadding="0">
                                  <tr>
                                    <td align="left">・<TMPL_VAR NAME=PMNAME></td>
<form method="POST" action="pmapplyfax.cgi" target="form1">
<input type="hidden" name="ID" value="<TMPL_VAR NAME=ID>">
<input type="hidden" name="TYPE" value="<TMPL_VAR NAME=TYPE>">
                                    <td align="right"><input type="submit" value="申込書を印刷する"></td>
</form>
                                  </tr>
                                </table>
				</td>
                              </tr>
</TMPL_LOOP>
                          </table>
			</td>
                        </tr>
                      </table>
<!--
<div align="center">
<form method="POST" action="pmapplyfax.cgi" target="form1">
<input type="hidden" name="ID" value="<TMPL_VAR NAME=ID>">
<input type="submit" value="一括印刷する">
</form>
</div>
-->
                      <br></td>
                </tr>
            </table></td>
          </tr>
        </table>
        <br>
        <br>
        <br>
				
          <hr size="1" noshade>
          <br><div align="center"><input name="set" type="button" id="set" value="閉じる" onClick="window.close()"></div>
      </td>
    </tr>
  </table>
</div>
</body>
</html>
