<style type="text/css">
<!--
#rebuildEnd {width:100%;}
#rebuildEnd * {margin:0;padding:0;line-height:1.8;font-size:1em;}
#rebuildEnd li {list-style:none;}
#rebuildEnd td {vertical-align:top;}
#rebuildEnd td:first-child {padding:10px 50px 0 15px;}
#rebuildEnd td > p {margin:1em 0;}
#rebuildEnd td > div {margin:30px 15px 0 0;padding:1.5em 2em 1.5em;background:#efefef;border-radius:8px;font-size:0.9em;}
#rebuildEnd td:last-child h4 + p {margin:0.5em 0 0;}
#rebuildEnd td:last-child h5 {margin:1.5em 0 0;}
#rebuildEnd td:last-child h5 span {font-weight:normal;padding-left:0.5em;}
#rebuildEnd td:last-child li {margin:1em 0 0;}
#rebuildEnd td:last-child li span {display:inline-block;width:7.5em;}
#rebuildEnd td:last-child li span ~ span {width:auto;margin:0 0.5em;padding:0 0.5em;border:1px solid #333;border-radius:2px;background:#fff;}
//-->
</style>
<table width="100%"  border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
                          <tr>
               <td width="12">
                <table width="50%" align="right"  border="0" cellspacing="0" cellpadding="0" height="20" bgcolor="<TMPL_VAR NAME=color>">
                                <tr>
                                  <td><img src="../imgs/spc.gif"></td>
                                </tr>
                            </table></td>
                            <td align="left" class="midashi">サイト更新</td>
                          </tr>
                        </table>
                          <img src="../imgs/spc.gif" width="5" height="5">
                          <table width="100%"  border="0" cellpadding="0" cellspacing="0">
                            <tr>
                              <td align="left" class="main-table"><table width="100%"  border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                  <td>
                    <table width="100%"  border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                      <td>
                                        <table id="rebuildEnd">
                                          <tr>
                                            <td><img src="../imgs/<TMPL_VAR NAME=rimg>"></td>
                                            <td><TMPL_VAR NAME=message>
                                            <div>
                                              <h4>お店ページが更新されない？</h4>
                                              <p>ご利用の環境によっては、お店ページの更新が反映されない場合があります。<br>
                                              この場合は、お店ページを表示した状態で以下の操作をお試しください。</p>
                                              <h5>ページの強制再読み込み操作<span>（キャッシュを無視して更新）</span></h5>
                                              <ul>
                                              <li>
                                              <span>Windowsの場合</span>：
                                              キーボードの<span>Ctrl</span>＋<span>F5</span>を押す
                                              </li>
                                              <li>
                                              <span>Macの場合</span>：
                                              キーボードの<span>command（コマンド）</span>＋<span>R</span>を押す
                                              </li>
                                              </ul>
                                            </div>
                                            </td>
                                          </tr>
                                        </table>
                                          <BR>
                                        </td></tr>
                                  </table></td>
                                </tr>
                              </table></td>
                            </tr>
                        </table>
