<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=EUC-JP">
<title><TMPL_VAR NAME=SHOP_NAME></title>
<link rel="icon" type="image/png" href="../imgs/icon/sps_fav_32.png"/>
<link rel="stylesheet"type="text/css" href="<TMPL_VAR NAME=CSSLINK>">
<meta http-equiv="Content-Script-Type" content="text/javascript">
<style type="text/css">
<!--
.clear_both2 {
        clear: both;
        font-size: 1px;
        visibility: hidden;
        overflow: hidden;
        height: 1px;
        text-align: center;
}
-->
</style>
</head>
<body>
<form method="post" action="review_comment.cgi">
<input type="hidden" name="CMD" value="S">
<input type="hidden" name="TKN" value="<TMPL_VAR NAME=TKN>">
<input type="hidden" name="ITM" value="<TMPL_VAR NAME=ITM>">
<input type="hidden" name="set_date" value="<TMPL_VAR NAME=SET_DATE>">
<table id="container" border="0" cellpadding="0" cellspacing="0">
  <tbody>
    <tr>
      <td id="leftSide">
      </td>
      <td id="center1" valign="top">
        <div class="centerbox">
          <div class="mainCont">
            <p>
              次のコメントに返信します。<br>
              コメントは何度でも編集できます。再編集するには、メール記載のURLから、この画面を開いてください。
            </p>
          </div>
          <br>
          <div class="mainFrame">
            <div class="mainCont">
              <TMPL_IF NAME=ERR_MSG>
              <div style="color:#F00;font-weight:bold;border:solid 2px #F00;padding:1em;margin-bottom:2em;">
              <TMPL_LOOP NAME=ERR_MSG>
                ・<TMPL_VAR NAME=MSG><br/>
              </TMPL_LOOP>
              </div>
              </TMPL_IF>
              <div class="layout1">
                <table class="auto" border="0" cellpadding="0" cellspacing="0" width="100%">
                  <tbody>
                    <tr>
                      <td style="text-align: left; width: 30%;" class="red">
                        おすすめ度　<TMPL_VAR NAME=POINT>
                      </td>
                      <td style="text-align: left; width: 50%;">
                        <TMPL_VAR NAME=NICK_NAME>様
                      </td>
                      <td style="text-align: right; width: 20%;">
                        <TMPL_VAR NAME=WRITE_DATE>
                      </td>
                    </tr>
                    <TMPL_IF NAME=ITEM_NO>
                    <tr>
                      <td colspan="3" style="text-align: left;">
                        <div class="float_left"><a href="http://<TMPL_VAR NAME=DOMAIN>/SHOP/<TMPL_VAR NAME=ITEM_NO>.html" target="_blank"><TMPL_VAR NAME=ITEM_NAME></a></div>
                      </td>
                    </tr>
                    </TMPL_IF>
                    <tr>
                      <td colspan="3" class="item" style="text-align: left;">
                         <TMPL_VAR NAME=MESSAGE>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="3" class="item" style="text-align: left;">
                        <div class="blogbox">
                          <div class="red float_left">お店からのコメント</div>
                          <div class="float_right"><TMPL_VAR NAME=SET_DATE></div>
                          <div class="clear_both2"></div>
                          <div class="item">
                            <textarea rows="8" cols="80" name="comment"><TMPL_VAR NAME=COMMENT></textarea>
                          </div>
                          <br>
                          <div class="center"><input type="submit" value="内容を確認する"></div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
</form>
</body>
</html>
