<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=EUC-JP">
<link rel="icon" type="image/png" href="../imgs/icon/sps_fav_32.png"/>
<link href="default05.css" rel="stylesheet" type="text/css">
<style type="text/css">
<!--
body {
	font-size:0.8em;
	width:680px;
	margin:1em auto;
	text-align:left;
}
-->
</style>
</head>
<body>
<div id="">
  <table class="item-box">
    <tr>
      <td class="item-name">送信開始日時</td>
      <td class="item"><!--送信予約時刻--><TMPL_VAR SCHED>頃</td>
    </tr>
    <tr>
      <td class="item-name">差出人</td>
      <td class="item"><!--差出人名--><TMPL_VAR FROMSTR>&nbsp;&lt;<!--差出人メールアドレス--><TMPL_VAR FROMADDR>&gt;</td>
    </tr>
    <tr>
      <td class="item-name">メルマガタイトル</td>
      <td class="item"><!--メルマガタイトル--><TMPL_VAR SUBJECT></td>
    </tr>
    <tr>
      <td class="item-name">本文</td>
      <td class="item">
        <pre style="font-size:80%; line-height: 100%;">
<TMPL_VAR BODY>
        </pre>
      </td>
    </tr>
    <tr>
      <td class="item-name">送信先</td>
      <td class="item"><TMPL_VAR SENDORDER></td>
    </tr>
  </table>
  <br>
<div align="center"><input type="button" value="閉じる" onClick="window.opener = window; var win = window.open( location.href, '_self' ); win.close();"></div>

</div>

</body>
</html>
