<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title><TMPL_VAR NAME=ServName>管理画面</title>
<link rel="icon" type="image/png" href="../imgs/icon/sps_fav_32.png"/>
<link href="default01.css" rel="stylesheet" type="text/css">
<script language="JavaScript" type="text/JavaScript">
<!--
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_openBrWindow(theURL,winName,features) { //v2.0
  window.open(theURL,winName,features);
}
//-->
</script>
<style type="text/css">
<!--
.style3 {color: #0B8C36}
.style2 {color: #9F4000}
.style4 {color: #1B8951}
-->
</style>
</head>
<TMPL_IF OPENERRELOAD>
<body onLoad='window.opener.location.href="shopmail.cgi";window.close();'>
<TMPL_ELSE>
<body>
<a name="top"></a>
<form name="MAILADD" method="POST" action="add_shopmail.cgi">
<input type="hidden" name="MID" value="new">
<input type="hidden" name="CMD" value="ADD">
<div style="font-size:80%">
	<table width="680"  border="0" cellpadding="0" cellspacing="0" align="center">
		<tr>
			<td align="left">
				<div class="midashi02">■メールアドレス作成</div>
				<br>
<TMPL_LOOP ERR_MSG>
<font color="red">&nbsp;・<TMPL_VAR NAME=MSG></font><br>
</TMPL_LOOP>
				<table class="item-box">
					<tr align="center">
					  <td align="left" class="item-name">発行年月日</td>
				      <td align="left" bgcolor="#FFFFFF" class="item">未設定</td>
				  </tr>
					<tr align="center">
					  <td align="left" class="item-name">メールアドレス</td>
      <td align="left" bgcolor="#FFFFFF" class="item">
      	<input type="text" name="ACC" value="<TMPL_VAR NAME=ACC>" style="ime-mode:disabled">
     	@<TMPL_VAR NAME=DOMAIN></td>
			  </tr>
				  <tr align="center">
					  <td align="left" class="item-name">パスワード</td>
       <td align="left" bgcolor="#FFFFFF" class="item"><input type="text" name="PWD" value="<TMPL_VAR NAME=PWD>" style="ime-mode:disabled">
			        </td>
				  </tr>
			  </table>
				<br>
				<hr size="1">
				<br>
				<div align="center">
     <input type="button" name="ADD" value="設定" onClick="document.MAILADD.submit();">
&nbsp;
<input type="button" name="Submit" value="閉じる" onClick="window.close()">
</div><br>
	  </td>
		</tr>
	</table>
	<br>
	<br>
</div>
</form>
</TMPL_IF>
</body>
</html>
