<table width="100%"  border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
  <tr>
    <td width="12">
      <table width="50%" align="right"  border="0" cellspacing="0" cellpadding="0" height="20" bgcolor="#009B44">
        <tr>
          <td><img src="../imgs/spc.gif"></td>
        </tr>
      </table>
    </td>
    <td align="left" class="midashi">店長メールの確認を行います</td>
    <td align="right" class="midashi"><a href="https://help.shopserve.jp/help/shopmail.php" target="manual"><img src="../imgs/help_link.gif" alt="この機能のヘルプをみる" align="center" height="22" width="153" border="0"></a></td>
  </tr>
</table>
<img src="../imgs/spc.gif" width="5" height="5">
<table width="100%"  border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td align="left" class="main-table" style="padding-bottom:15px;">
      <table width="100%"  border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td>
            <div class="infoArea table_bg" style="margin-bottom:0;">
              <p style="line-height:1.4;margin:0 0 1em;">メールアドレスの追加・削除・設定については「環境設定(店長アドレス)」で行い、メールの送受信は「店舗メール」で行います。</p>
              <p style="line-height:1.4;margin:0 0 1em;">なお、店長アドレスのログインＩＤとパスワードは開通通知に記載されております。</p>
              <p style="line-height:1.4;margin:0 0 1em;">■メールアドレスの追加と削除<br>
              <a href="https://kanri.sps.shopserve.jp/shop/" target="_blank">⇒「環境設定（店長アドレス）」</a></p>
              <p style="line-height:1.4;margin:0 0 1em;">■各メールアドレスの設定<br>
              <a href="https://kanri.sps.shopserve.jp/user/" target="_blank">⇒「環境設定（店舗スタッフアドレス）」</a></p>
              <p style="line-height:1.4;margin:0 0 1em;">■メールの送受信<br>
              <a href="https://webmail.sps.shopserve.jp/xgate4/grp/estore/" target="_blank">⇒「店舗メール」</a></p>
            </div>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
