<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=EUC-JP">
<title>Ｅストアーショップサーブ管理画面</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link rel="icon" type="image/png" href="../imgs/icon/sps_fav_32.png"/>
<link rel="stylesheet"type="text/css" media="all" href="<TMPL_VAR NAME=CSSLINK>">
<meta http-equiv="Content-Script-Type" content="text/javascript">
<style type="text/css">
<!--
td {
	padding:5px;
	background-color:#FFFFFF;
        font-size: 84%;
}
.comment_box{/*コメント入力欄位置設定*/
  width: 100%;
  margin:0px auto;
  text-align: center;
}

#ReviewBox{
  width: 98%;
  margin: 0px auto;
}

-->
</style>
</head>
<body>

<script language="JavaScript" type="text/JavaScript">
<!--

  function Shop_openWindow(item_no) {
    window.open("<TMPL_VAR NAME=ShopUrl>" + item_no + ".html", "shop", "");
  }

-->
</script>

<div class="centerbox">
  <h3 class="title1 no2"><TMPL_VAR NAME=RATINGTITLE></h3>
  <div class="mainFrame">
    <div class="mainCont">

      <div class="right">
        <TMPL_VAR NAME=LISTSTART> - <TMPL_VAR NAME=LISTEND>&nbsp; （ 全 <TMPL_VAR NAME=TOTAL>件 ）&nbsp;<TMPL_LOOP NAME=PAGE_LIST><TMPL_VAR NAME=LINK></TMPL_LOOP>
      </div>

      <div ="ReviewBox>

          <TMPL_LOOP NAME=MESSAGES>
          <hr sizee-"1" style="boder:1px #666666 dashed;">
          <a name="<TMPL_VAR NAME=MESS_ID>"></a>
          <div class="layout1">
            <table class="auto" border="0" cellpadding="0" cellspacing="0" width="90%">
            <tbody>
            <tr>
              <td style="text-align:left; width:30%; " class="red">
                おすすめ度　<TMPL_VAR NAME=POINT>
              </td>
              <td style="text-align:left; width:50%; "><TMPL_VAR NAME=NICK_NAME>様</td>
              <td style="text-align:right; width:20%; "><TMPL_VAR NAME=WRITE_DATE></td>
            </tr>
            <TMPL_IF NAME=ITEM_DISP>
            <tr>
              <td colspan="3" style="text-align: left;">
                <div class="float_left"><a href="javascript:Shop_openWindow('<TMPL_VAR NAME=ITEM_NO>')"><TMPL_VAR NAME=ITEM_NAME></a></div>
              </td>
            </tr>
            </TMPL_IF>
            <tr>
              <td colspan="3" class="item" style="text-align:left; "><TMPL_VAR NAME=MESSAGE></td>
            </tr>
            <TMPL_IF NAME=COMMENT_USE>
            <TMPL_LOOP NAME=COMMENT_LIST>
            <tr>
              <td colspan="3" class="item" style="text-align: left;">
                <div class="blogbox">
                  <div class="red float_left"><TMPL_VAR NAME=C_TITLE></div>
                  <div class="float_right"><TMPL_VAR NAME=SET_DATE></div>
                  <div class="clear_both"></div>
                  <div class="item">
                    <TMPL_VAR NAME=COMMENT>
                  </div>
                </div>
              </td>
            </tr>
            </TMPL_LOOP>
            </TMPL_IF>
            </tbody>
            </table>
          </div>
          </TMPL_LOOP>

      <div class="right">
        <TMPL_VAR NAME=LISTSTART> - <TMPL_VAR NAME=LISTEND>&nbsp; （ 全 <TMPL_VAR NAME=TOTAL>件 ）&nbsp;<TMPL_LOOP NAME=PAGE_LIST><TMPL_VAR NAME=LINK></TMPL_LOOP>
      </div>

      <!-- ページトップ -->
      <div class="pageTop">
        <a href="#top">page top</a>
      </div>

      <div class="clear_both"></div>
    </div>
  </div>
</div>

</body>
</html>
