<table width="100%"  border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
 <tr>
  <td width="12">
   <table width="50%" align="right"  border="0" cellspacing="0" cellpadding="0" height="20" bgcolor="#677C87">
    <tr>
     <td><img src="../imgs/spc.gif" width="8" height="8"></td>
    </tr>
   </table>
  </td>
  <td align="left" class="midashi">迷惑メールフィルタの設定を行います</td>
  <td align="right" class="midashi">&nbsp;</td>
 </tr>

</table>
<table width="100%"  border="0" cellpadding="0" cellspacing="0">
  <tr>
	<td align="left" class="main-table">
		<span style="color:#c00;">高性能な迷惑メールフィルタリング機能が標準装備された新しいメールシステムへ変更いたしました。<br>
それに伴い、本機能は不要となりましたので終了いたします。</span>
	</td>
  </tr>
</table>
<TMPL_IF name="SPAM_FILTER_SUPPORTED">
<script type="text/javascript">
<!-- 
 var obj = document.getElementById('SPAM_FILTER_SUPPORTED');
 obj.style.visibility = 'visible';
 obj.style.display = 'block';
// -->
</script>
</TMPL_IF>
