<table width="100%"  border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
 <tr>
  <td width="12">
   <table width="50%" align="right"  border="0" cellspacing="0" cellpadding="0" height="20" bgcolor="#677C87">
    <tr>
     <td><img src="../imgs/spc.gif" width="8" height="8"></td>
    </tr>
   </table>
  </td>
  <td align="left" class="midashi">&nbsp;</td>
  <td align="right" class="midashi">&nbsp;</td>
 </tr>
</table>
<img src="../imgs/spc.gif" width="5" height="5">
<table width="100%"  border="0" cellpadding="0" cellspacing="0">
 <tr>
  <td align="left" class="main-table">
   <div class="infoArea table_bg">
    申し訳ございません。<br />
    <br />
    システムに何かしらのエラーが発生いたしました。<br />
    お手数ですが、しばらくたってから、改めてアクセスしてください。<br />
   </div>
   <div id="group-mail" style="display:block">
   </div>
  </td>
 </tr>
</table>

