<script language="JavaScript">
<!--
function del(f) {
  if ( confirm("カスタム画像を削除します。よろしいですか？") ) {
    f.submit();
  } else {
    return;
  }
}
function delok(f, w) {
  f.removeAttribute('width');
  f.removeAttribute('height');
  if (w > 360) {
    f.height = 45;
  }
}
//-->
</script>
<TMPL_IF NAME=DONE>
<img src="../imgs/spc.gif" onLoad="location.reload();">
</TMPL_IF>
<form name="form1" method="post" action="theme_button_sps.cgi">
<table width="100%"  border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
                                      <tr>
                                        <td width="12"><table width="50%" align="right"  border="0" cellspacing="0" cellpadding="0" height="20" bgcolor="#856791">
                                            <tr>
                                              <td><img src="../imgs/spc.gif" width="8" height="8"></td>
                                            </tr>
                                        </table></td>
<td align="left" class="midashi">テーマのボタン画像やアイコン画像をカスタマイズします</td>
<td align="right" class="midashi"><a href="https://help.shopserve.jp/help/theme_button_sps.php" target="manual"><img src="../imgs/help_link.gif" alt="この機能のヘルプをみる" align="center" height="22" width="153" border="0"></a></td>
                                      </tr>
                                    </table>
                                      <img src="../imgs/spc.gif" width="5" height="5">
                                      <table width="100%"  border="0" cellpadding="0" cellspacing="0">
<tr>
                                          <td class="main-table" align="left">
<table width="100%"  border="0" cellspacing="0" cellpadding="0"><tr><td>
                    <TMPL_VAR NAME=err>
</td></tr></table>
<div class="infoArea table_bg">
テーマで使用している「カゴへボタン」「在庫切れボタン」「おすすめアイコン」などの画像を変更できます。
</div>
                                            

  <TMPL_IF NAME=cart_theme_no_use>
  <div id="theme_status" class="theme_status04">
    <table class="shop item-box">
      <tr>
        <td class="item-name">お店ページで利用中のテーマ</td>
        <td class="item"><TMPL_VAR NAME=shop_theme_label></td>
      </tr>
    </table>
    <TMPL_IF NAME=diff_theme>
    <table class="kanri item-box">
     <tr>
       <td class="item-name">管理画面で編集中のテーマ</td>
       <td class="item"><TMPL_IF NAME=user_category_type><TMPL_VAR NAME=user_category_type> &gt; </TMPL_IF><TMPL_IF NAME=user_category_name><TMPL_VAR NAME=user_category_name> &gt; </TMPL_IF><TMPL_VAR NAME=theme_name></td>
     </tr>
    </table>
    </TMPL_IF>
  <TMPL_ELSE>
  <div id="theme_status" class="theme_status04 cart_theme_status">
      <table class="shop item-box">
      <tbody><tr>
          <td class="item-name" <TMPL_IF NAME=cart_theme_label>rowspan="2"</TMPL_IF>>お店ページで利用中の<br>テーマ</td>
          <td class="item item-category">お店ページ</td>
          <td class="item"><TMPL_VAR NAME=shop_theme_label></td>
      </tr>
      <TMPL_IF NAME=cart_theme_label>
      <tr>
          <td class="item item-category">カート</td>
          <td class="item"><TMPL_VAR NAME=cart_theme_label></td>
      </tr>
      </TMPL_IF>
      </tbody></table>
  <TMPL_IF NAME=diff_show>
      <table class="kanri item-box">
      <tbody>
      <tr>
          <td class="item-name" rowspan="2">管理画面で編集中の<br>テーマ</td>
      <TMPL_IF NAME=diff_theme>
          <td class="item item-category">お店ページ</td>
          <td class="item"><TMPL_IF NAME=user_category_type><TMPL_VAR NAME=user_category_type> &gt; </TMPL_IF><TMPL_IF NAME=user_category_name><TMPL_VAR NAME=user_category_name> &gt; </TMPL_IF><TMPL_VAR NAME=theme_name></td>
      </tr>
      </TMPL_IF>
      <TMPL_IF NAME=cart_diff_theme>
      <tr>
          <td class="item item-category">カート</td>
          <td class="item"><TMPL_IF NAME=cart_category_type><TMPL_VAR NAME=cart_category_type> &gt; </TMPL_IF><TMPL_IF NAME=cart_category_name><TMPL_VAR NAME=cart_category_name> &gt; </TMPL_IF><TMPL_VAR NAME=cart_theme_name></td>
      </tr>
      </TMPL_IF>
      </tbody></table>
  </TMPL_IF>
  </TMPL_IF>
  </div>
      <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
          <td>
          <table class="item-box">
            <tr align="center">
              <td colspan="3" class="item-name02">ボタン・アイコン画像</td>
            </tr>
            <TMPL_LOOP NAME=button_list>
            <tr bgcolor="#FFFFFF">
              <td width="20%" class="item-name"><TMPL_VAR NAME=button_name></td>
              <td width="40%" bgcolor="#FFFFFF" style="text-align:center;"><TMPL_VAR NAME=button_img></td>
              <td width="40%" bgcolor="#FFFFFF" style="text-align:center;">
                <input type="button" value="画像挿入" style="margin:0.2em;" onClick="document.form1.dimg.value='<TMPL_VAR NAME=id>';window.open('../func100/seltheme.cgi','img_inst','width=800,height=700,scrollbars=yes,resizable=yes');">
                <input type="button" value="画像削除" style="margin:0.2em;" onClick="document.form1.ImageURL_<TMPL_VAR NAME=ID>.value='<TMPL_VAR NAME=default>';document.form1.PICSRC_<TMPL_VAR NAME=ID>.src='<TMPL_VAR NAME=default_url>';document.form1.ImageID_<TMPL_VAR NAME=ID>.value=0;delok(document.form1.PICSRC_<TMPL_VAR NAME=ID>,'<TMPL_VAR NAME=WIDTH>');">
                <input type="hidden" value="<TMPL_VAR NAME=IMGURL>" name="ImageURL_<TMPL_VAR NAME=ID>">
                <input type="hidden" value="<TMPL_VAR NAME=IMGID>" name="ImageID_<TMPL_VAR NAME=ID>">
              </td>
            </tr>
            </TMPL_LOOP>
            <tr align="center" bgcolor="#FFFFFF">
              <td colspan="3"><input type="button" name="Submit" value="設定を保存" style="width:160px" onClick="document.form1.submit();"></td>
            </tr>
          </table>
          </td>
        </tr>
      </table>

  </td>
  </tr>
  </table>
    <table width="100%"  border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td>&nbsp;</td>
      </tr>
    </table>
  </td>
</tr>

<input type="hidden" name="mode" value="regist">
<input type="hidden" name="category_code" value="<TMPL_VAR NAME=category_code>">
<input type="hidden" name="theme_code" value="<TMPL_VAR NAME=theme_code>">
<input type="hidden" name="plus_theme" value="<TMPL_VAR NAME=plus_theme>">
<input type="hidden" name="dimg">
</form>
