<!-- Main Contents(START) -->
<table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%">
  <tbody><tr>
    <td width="12">
      <table align="right" bgcolor="#009b44" border="0" cellpadding="0" cellspacing="0" height="20" width="50%">
        <tbody><tr>
          <td><img src="imgs/spc.gif"></td>
        </tr>
      </tbody></table>
    </td>
    <td class="midashi" align="left">配送業者とお問い合わせ番号の登録を受付いたしました</td>
    <td class="midashi" align="right"></td>
  </tr>
</tbody></table>
<img src="imgs/spc.gif" height="5" width="5">
<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tbody><tr>
    <td class="main-table" align="left">
      <div id="contents_body">
        <div class="infoArea table_bg">
          配送業者とお問い合わせ番号の登録を行います。<br>
          登録が完了次第、店長メール宛にメールでお知らせいたしますので、今しばらくお待ちください。<br>
          <p class="note">※CSVファイル内のデータ数によっては、時間がかかる場合があります。</p>
          <br>
        </div>
        <div class="center">
          <input value="受注台帳へ戻る" onClick="location.href='orderlist.php?LastCGI=1'" type="button">
        </div>
      </div>
    </td>
  </tr>
</tbody></table>
<!-- Main Contents(END) -->
