<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=euc-jp">
<title>ショップ開店ウィザード -STEP6 ページのデザインを選択しよう-</title>
<link rel="icon" type="image/png" href="../imgs/icon/sps_fav_32.png"/>
<link rel="stylesheet" href="../css/wizard.css" type="text/css" />
<TMPL_VAR NAME=GANALY>
</head>
<body onload="seltab('box', 'tn', 3, 1);">
  <a name="01"></a>

  <div id="top-header">
    <div class="logo-header-wrap">
      <div class="logo-area">
        <img src="../imgs/top_img0.gif" alt="Ｅストアーショップサーブ">
      </div>
    </div>
  </div>

  <table class="steps-table-1" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
      <td><img src="../imgs/wi_top_off_001_already.gif"></td>
      <td><img src="../imgs/wi_top_off_002_already.gif"></td>
      <td><img src="../imgs/wi_top_off_003_already.gif"></td>
      <td><img src="../imgs/wi_top_off_004_already.gif"></td>
      <td><img src="../imgs/wi_top_off_005_already.gif"></td>
      <td><img src="../imgs/wi_top_on_006.gif"></td>
      <td><img src="../imgs/wi_top_off_007.gif"></td>
    </tr>
  </table>

  <br>

  <table width="800"  border="0" cellpadding="0" cellspacing="0" align="center">
    <tr valign="top">
      <td colspan="3">
        <img src="../imgs/we006_top_sps.gif" width="801" height="47">
      </td>
    </tr>
    <tr>
      <td bgcolor="#903A8B"><img src="../imgs/spc.gif" width="3"></td>
      <td>

        <table width="791" border="0" cellpadding="0" cellspacing="10" bgcolor="#FFFFFF">
          <tr>
            <td>
              <img src="../imgs/we006_01.gif" width="766" height="34" style="margin-bottom:20px; ">



<link href="../func04/theme.css" rel="stylesheet" type="text/css">
<style type="text/css">
<!--
#themes .tab_container {margin:30px 0 0;}
#themes .thumbnails h4 {font-size:1.3em;}
#themes .thumbnails li {line-height:1.8;}
#dialog_main dl.select dt,
#dialog_main dl.select dd {line-height:1.8em;}
//-->
</style>

<script type="text/javascript">
<!--
window.onload=function() {
  seltab('box', 'tn', 3, 1);
}
function change_tab(type) {
    document.form1.theme_type.value = type;
    document.form1.category.value = '';
    document.form1.submit();
}
//-->
</script>

    <form name="form1" method="post" action="wizard07.cgi" id="themes" style="width:684px;border:none;padding:0;margin:0 auto;">
    <input type="hidden" name="mode" value="regist">
    <input type="hidden" name="category" value="nature">
    <input type="hidden" name="theme" value="basic_green">
    <input type="hidden" name="layout" value="lr">
    <input type="hidden" name="theme_type" value="normal">

    <div class="tab_container2">
        <ul class="clearfix">
            <li style="margin-bottom:0px;"><a href="wizard07.cgi" onClick="change_tab('seo');return false;">カスタムテンプレート</a></li>
            <li class="sel" style="margin-bottom:0px;"><a href="wizard07.cgi" onClick="change_tab('normal');return false;">ベーシックテンプレート</a></li>
        </ul>
    </div>

    <div class="template_info">
        <ul>
            <li>全ての機能が利用できる、デザインの種類が豊富なテンプレートです。</li>

            <li>＜カスタムテンプレートから切り替える場合の注意＞<br>
            ・HTMLやCSSの構造が異なるためレイアウトが崩れる可能性があります。<br>
            ・カスタムテンプレートとは仕様や一部の機能が異なります。<br>
            <a href="https://help.shopserve.jp/manual/198/" target="_blank">⇒ テンプレートの仕様と機能比較</a></li>
        </ul>
    </div>

    <h3>デザインの設定のしかた</h3>
    <ul class="step">
      <li class="step1">使いたいデザインを下記のテーマから選んで、クリックしてください。</li>
      <li class="arrow"></li>
      <li class="step2">ダイアログ画面が開きますので、次の手順で設定してください。</li>
    </ul>

    <ol class="step">
      <li class="step1">「トップページのレイアウト設定」を選択</li>
      <li class="step2">「プレビューを見る」で確認</li>
      <li class="step3">「このデザインを選択する」をクリック</li>
    </ol>

    <div class="tab_container">
      <ul>
        <li id="tn1"><a href="javascript:seltab('box', 'tn', 10, 1)">標準</a></li>
        <li id="tn2"><a href="javascript:seltab('box', 'tn', 10, 2)">こだわり</a></li>
        <li id="tn3"><a href="javascript:seltab('box', 'tn', 10, 3)">その他</a></li>
      </ul>
    </div>

    <div id="dialog">
      <div id="dialog_alpha"></div>
      <div id="dialog_main">
        <a href="#close" class="close" onclick="return dlgClose()"></a>
        <dl class="select">
          <dt>選択したテーマ</dt>
          <dd>
            ベーシックテンプレート &gt;<span id="theme_category"></span>
            &gt;
            <span id="theme_name"></span>
          </dd>
        </dl>
        <img src="../imgs/spc.gif" width="300" height="280" alt="">

        <ol>
          <li class="num1">
            <h5>トップページのレイアウト設定</h5>
            <input name="layout_code" value="lr" checked="checked" type="radio" id="c3"> <label for="c3">標準（3列）</label><br>
            <input name="layout_code" value="l" type="radio" id="c2"> <label for="c2">右サイドバーなし（2列）</label><br>
            <p>「右サイドバーなし」にチェックを入れるとトップページが右サイドバーなしになります。</p>
          </li>

          <li class="num2">
            <a href="#preview" class="preview" onclick="return previewTheme(this)">プレビューを見る</a>
          </li>

          <li class="num3">
            <a href="#select" class="select" onclick="return setTheme(this)">このデザインを選択する</a>
          </li>
          <li class="license">
            テーマ内の画像・写真素材は<br>著作物につき、加工、転用、再配布不可
          </li>
        </ol>
      </div>
    </div>

<script src="../func04/theme.js" type="text/javascript"></script>

    <div class="thumbnails" id="box1">
      <h4>シンプル</h4>
      <ul class="thumbnails" category_id="simple" category_name="ベーシック（シンプル）">
        <li>
          <a href="#select" category_id=basic  category_name="標準(シンプル)" onclick="return selectTheme(this)">
            カラー・ホワイト<br>
            <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/colors_white.gif" width="150" height="140" alt="カラー・ホワイト">
          </a>
        </li>

        <li>
          <a href="#select" category_id=201012  category_name="標準(シンプル)" onclick="return selectTheme(this)">
            ホワイト×ピンク<br>
            <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/19simple_format01.gif" width="150" height="140" alt="ホワイト×ピンク">
          </a>
        </li>

        <li>
          <a href="#select" category_id=basic  category_name="標準(シンプル)" onclick="return selectTheme(this)">
          グレー<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/basic_gray.gif" width="150" height="140" alt="グレー">
          </a>
        </li>

        <li>
          <a href="#select" category_id=basic  category_name="標準(シンプル)" onclick="return selectTheme(this)">
          カラー・グレー<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/colors_gray.gif" width="150" height="140" alt="カラー・グレー">
          </a>
        </li>

        <li class="page_top"><a href="#top">PageTopへ戻る</a></li>

        <li>
          <a href="#select" category_id=201012  category_name="標準(シンプル)" onclick="return selectTheme(this)">
          ベーシック・ピンク<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/26basic_pink.gif" width="150" height="140" alt="ベーシック・ピンク">
          </a>
        </li>

        <li>
          <a href="#select" category_id=basic  category_name="標準(シンプル)" onclick="return selectTheme(this)">
          ピンク<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/basic_pink.gif" width="150" height="140" alt="ピンク">
          </a>
        </li>

        <li>
          <a href="#select" category_id=201012  category_name="標準(シンプル)" onclick="return selectTheme(this)">
          シンプル・ピンク<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/24simple_format03.gif" width="150" height="140" alt="シンプル・ピンク">

          </a>
        </li>

        <li>
          <a href="#select" category_id=basic  category_name="標準(シンプル)" onclick="return selectTheme(this)">
          カラー・ピンク<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/colors_pink.gif" width="150" height="140" alt="カラー・ピンク">
          </a>
        </li>

        <li class="page_top"><a href="#top">PageTopへ戻る</a></li>

        <li>
          <a href="#select" category_id=basic  category_name="標準(シンプル)" onclick="return selectTheme(this)">
          レッド<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/basic_red.gif" width="150" height="140" alt="レッド">
          </a>
        </li>

        <li>
          <a href="#select" category_id=basic  category_name="標準(シンプル)" onclick="return selectTheme(this)">
          バイオレット<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/basic_violet.gif" width="150" height="140" alt="バイオレット">
          </a>
        </li>

        <li>
          <a href="#select" category_id=201012  category_name="標準(シンプル)" onclick="return selectTheme(this)">
          ベーシック・オレンジ<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/28basic_orange.gif" width="150" height="140" alt="ベーシック・オレンジ">
          </a>
        </li>

        <li>
          <a href="#select" category_id=basic  category_name="標準(シンプル)" onclick="return selectTheme(this)">
          オレンジ<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/basic_orange.gif" width="150" height="140" alt="オレンジ">
          </a>
        </li>

        <li class="page_top"><a href="#top">PageTopへ戻る</a></li>

        <li>
          <a href="#select" category_id=201012  category_name="標準(シンプル)" onclick="return selectTheme(this)">
          ベーシック・グリーン<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/25basic_green.gif" width="150" height="140" alt="ベーシック・グリーン">
          </a>
        </li>

        <li>
          <a href="#select" category_id=basic  category_name="標準(シンプル)" onclick="return selectTheme(this)">
          グリーン<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/basic_green.gif" width="150" height="140" alt="グリーン">
          </a>
        </li>

        <li>
          <a href="#select" category_id=201012  category_name="標準(シンプル)" onclick="return selectTheme(this)">
          シンプル・グリーン<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/23simple_format02.gif" width="150" height="140" alt="シンプル・グリーン">
          </a>
        </li>

        <li>
          <a href="#select" category_id=basic  category_name="標準(シンプル)" onclick="return selectTheme(this)">
          カラー・ベージュ<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/colors_beige.gif" width="150" height="140" alt="カラー・ベージュ">
          </a>
        </li>

        <li class="page_top"><a href="#top">PageTopへ戻る</a></li>

        <li>
          <a href="#select" category_id=201012  category_name="標準(シンプル)" onclick="return selectTheme(this)">
          ベーシック・ブルー<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/27basic_blue.gif" width="150" height="140" alt="ベーシック・ブルー">
          </a>
        </li>

        <li>
          <a href="#select" category_id=basic  category_name="標準(シンプル)" onclick="return selectTheme(this)">
          ブルー<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/basic_blue.gif" width="150" height="140" alt="ブルー">
          </a>
        </li>

        <li>
          <a href="#select" category_id=basic  category_name="標準(シンプル)" onclick="return selectTheme(this)">
          カラー・ブルー<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/colors_blue.gif" width="150" height="140" alt="カラー・ブルー">
          </a>
        </li>

        <li>
          <a href="#select" category_id=201012  category_name="標準(シンプル)" onclick="return selectTheme(this)">
          グレー×ブルー<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/20simple_format04.gif" width="150" height="140" alt="グレー×ブルー">
          </a>
        </li>

        <li class="page_top"><a href="#top">PageTopへ戻る</a></li>

        <li>
          <a href="#select" category_id=basic  category_name="標準(シンプル)" onclick="return selectTheme(this)">
          ブラウン<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/basic_brown.gif" width="150" height="140" alt="ブラウン">
          </a>
        </li>

        <li>
          <a href="#select" category_id=basic  category_name="標準(シンプル)" onclick="return selectTheme(this)">
          カラー・ブラウン<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/colors_brown.gif" width="150" height="140" alt="カラー・ブラウン">
          </a>
        </li>

        <li>
          <a href="#select" category_id=201012  category_name="標準(シンプル)" onclick="return selectTheme(this)">
          ブラック×ピンク<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/22simple_format07.gif" width="150" height="140" alt="ブラック×ピンク">
          </a>
        </li>

        <li>
          <a href="#select" category_id=basic  category_name="標準(シンプル)" onclick="return selectTheme(this)">
          カラー・ブラック<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/colors_black.gif" width="150" height="140" alt="カラー・ブラック">
          </a>
        </li>

        <li class="page_top"><a href="#top">PageTopへ戻る</a></li>
      </ul>

    <!-- variety-->
      <h4>バラエティ</h4>
      <ul class="thumbnails">

        <li>
          <a href="#select" category_id=201012  category_name="標準(バラエティ)" onclick="return selectTheme(this)">
          カラフルライン<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/01smart_colorful.gif" width="150" height="140" alt="カラフルライン">
          </a>
        </li>

        <li>
          <a href="#select" category_id=201012  category_name="標準(バラエティ)" onclick="return selectTheme(this)">
          カラフルポップ<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/04pop_colorful.gif" width="150" height="140" alt="カラフルポップ">
          </a>
        </li>

        <li>
          <a href="#select" category_id=201012  category_name="標準(バラエティ)" onclick="return selectTheme(this)">
          レース・ホワイト<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/21simple_format06.gif" width="150" height="140" alt="レース・ホワイト">
          </a>
        </li>

        <li>
          <a href="#select" category_id=201012  category_name="標準(バラエティ)" onclick="return selectTheme(this)">
          レース・ベージュ<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/10elegant_mono.gif" width="150" height="140" alt="レース・ベージュ">
          </a>
        </li>

        <li class="page_top"><a href="#top">PageTopへ戻る</a></li>

        <li>
          <a href="#select" category_id=beauty  category_name="標準(バラエティ)" onclick="return selectTheme(this)">
          ホワイトパール<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/10.gif" width="150" height="140" alt="ホワイトパール">
          </a>
        </li>

        <li>
          <a href="#select" category_id=201012  category_name="標準(バラエティ)" onclick="return selectTheme(this)">
          キュートピンク<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/07cute_warm.gif" width="150" height="140" alt="キュートピンク">
          </a>
        </li>

        <li>
          <a href="#select" category_id=201012  category_name="標準(バラエティ)" onclick="return selectTheme(this)">
          エレガントピンク<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/02elegant_warm.gif" width="150" height="140" alt="エレガントピンク">
          </a>
        </li>

        <li>
          <a href="#select" category_id=201012  category_name="標準(バラエティ)" onclick="return selectTheme(this)">
          ブラウン×ピンク<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/18simple_format05.gif" width="150" height="140" alt="ブラウン×ピンク">
          </a>
        </li>

        <li class="page_top"><a href="#top">PageTopへ戻る</a></li>

        <li>
          <a href="#select" category_id=201012  category_name="標準(バラエティ)" onclick="return selectTheme(this)">
          ボーダーレッド<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/05chic_colorful.gif" width="150" height="140" alt="ボーダーレッド">
          </a>
        </li>

        <li>
          <a href="#select" category_id=simple  category_name="標準(バラエティ)" onclick="return selectTheme(this)">
          ワインとチーズ<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/14.gif" width="150" height="140" alt="ワインとチーズ">
          </a>
        </li>

        <li>
          <a href="#select" category_id=beauty  category_name="標準(バラエティ)" onclick="return selectTheme(this)">
          ヨーロピアン<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/05.gif" width="150" height="140" alt="ヨーロピアン">
          </a>
        </li>

        <li>
          <a href="#select" category_id=classic  category_name="標準(バラエティ)" onclick="return selectTheme(this)">
          セピア<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/18.gif" width="150" height="140" alt="セピア">
          </a>
        </li>

        <li class="page_top"><a href="#top">PageTopへ戻る</a></li>

        <li>
          <a href="#select" category_id=201012  category_name="標準(バラエティ)" onclick="return selectTheme(this)">
          ヘンプ<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/08smart_warm.gif" width="150" height="140" alt="ヘンプ">
          </a>
        </li>

        <li>
          <a href="#select" category_id=animal  category_name="標準(バラエティ)" onclick="return selectTheme(this)">
          スプリング<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/03.gif" width="150" height="140" alt="スプリング">
          </a>
        </li>

        <li>
          <a href="#select" category_id=life  category_name="標準(バラエティ)" onclick="return selectTheme(this)">
          フルーツバスケット<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/24.gif" width="150" height="140" alt="フルーツバスケット">
          </a>
        </li>

        <li>
          <a href="#select" category_id=nature  category_name="標準(バラエティ)" onclick="return selectTheme(this)">
          花市場<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/m_23.gif" width="150" height="140" alt="花市場">
          </a>
        </li>

        <li class="page_top"><a href="#top">PageTopへ戻る</a></li>

        <li>
          <a href="#select" category_id=201012  category_name="標準(バラエティ)" onclick="return selectTheme(this)">
          ボーダーイエロー<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/11natural_colorful.gif" width="150" height="140" alt="ボーダーイエロー">
          </a>
        </li>

        <li>
          <a href="#select" category_id=simple  category_name="標準(バラエティ)" onclick="return selectTheme(this)">
          暖かい風景<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/05simple.gif" width="150" height="140" alt="暖かい風景">
          </a>
        </li>

        <li>
          <a href="#select" category_id=simple  category_name="標準(バラエティ)" onclick="return selectTheme(this)">
          ベージュ<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/23.gif" width="150" height="140" alt="ベージュ">
          </a>
        </li>

        <li>
          <a href="#select" category_id=favorite  category_name="標準(バラエティ)" onclick="return selectTheme(this)">
          オータムガーデン<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/15.gif" width="150" height="140" alt="オータムガーデン">
          </a>
        </li>

        <li class="page_top"><a href="#top">PageTopへ戻る</a></li>

        <li>
          <a href="#select" category_id=sports  category_name="標準(バラエティ)" onclick="return selectTheme(this)">
          スポーツ観戦<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/04.gif" width="150" height="140" alt="スポーツ観戦">
          </a>
        </li>

        <li>
          <a href="#select" category_id=favorite  category_name="標準(バラエティ)" onclick="return selectTheme(this)">
          粉挽き<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/01.gif" width="150" height="140" alt="粉挽き">
          </a>
        </li>

        <li>
          <a href="#select" category_id=life  category_name="標準(バラエティ)" onclick="return selectTheme(this)">
          ほっこり<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/21.gif" width="150" height="140" alt="ほっこり">
          </a>
        </li>

        <li>
          <a href="#select" category_id=simple  category_name="標準(バラエティ)" onclick="return selectTheme(this)">
          こもれび<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/01simple.gif" width="150" height="140" alt="こもれび">
          </a>
        </li>

       <li class="page_top"><a href="#top">PageTopへ戻る</a></li>

        <li>
          <a href="#select" category_id=201012  category_name="標準(バラエティ)" onclick="return selectTheme(this)">
          キュートブルー<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/15natural_cold.gif" width="150" height="140" alt="キュートブルー">
          </a>
        </li>

        <li>
          <a href="#select" category_id=pop  category_name="標準(バラエティ)" onclick="return selectTheme(this)">
          ロボット<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/06.gif" width="150" height="140" alt="ロボット">
          </a>
        </li>

        <li>
          <a href="#select" category_id=season  category_name="標準(バラエティ)" onclick="return selectTheme(this)">
          お正月<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/07.gif" width="150" height="140" alt="お正月">
          </a>
        </li>

        <li>
          <a href="#select" category_id=201012  category_name="標準(バラエティ)" onclick="return selectTheme(this)">
          シックブルー<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/16chic_cold.gif" width="150" height="140" alt="シックブルー">
          </a>
        </li>

       <li class="page_top"><a href="#top">PageTopへ戻る</a></li>

        <li>
          <a href="#select" category_id=favorite  category_name="標準(バラエティ)" onclick="return selectTheme(this)">
          ハッピーカラー<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/m_04.gif" width="150" height="140" alt="ハッピーカラー">
          </a>
        </li>

        <li>
          <a href="#select" category_id=201012  category_name="標準(バラエティ)" onclick="return selectTheme(this)">
          エレガントブルー<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/06elegant_cold.gif" width="150" height="140" alt="エレガントブルー">
          </a>
        </li>

        <li>
          <a href="#select" category_id=201012  category_name="標準(バラエティ)" onclick="return selectTheme(this)">
          スカイブルー<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/13smart_cold.gif" width="150" height="140" alt="スカイブルー">
          </a>
        </li>

        <li>
          <a href="#select" category_id=cool  category_name="標準(バラエティ)" onclick="return selectTheme(this)">
          リビングルーム<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/cool01.gif" width="150" height="140" alt="リビングルーム">
          </a>
        </li>

       <li class="page_top"><a href="#top">PageTopへ戻る</a></li>

        <li>
          <a href="#select" category_id=nature  category_name="標準(バラエティ)" onclick="return selectTheme(this)">
          誰もいない海<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/temp_05.gif" width="150" height="140" alt="誰もいない海">
          </a>
        </li>

        <li>
          <a href="#select" category_id=nature  category_name="標準(バラエティ)" onclick="return selectTheme(this)">
          アース<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/09.gif" width="150" height="140" alt="アース">
          </a>
        </li>

        <li>
          <a href="#select" category_id=201012  category_name="標準(バラエティ)" onclick="return selectTheme(this)">
          クラシック<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/03chic_warm.gif" width="150" height="140" alt="クラシック">
          </a>
        </li>

        <li>
          <a href="#select" category_id=201012  category_name="標準(バラエティ)" onclick="return selectTheme(this)">
          ファブリック<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/12natural_warm.gif" width="150" height="140" alt="ファブリック">
          </a>
        </li>

       <li class="page_top"><a href="#top">PageTopへ戻る</a></li>

        <li>
          <a href="#select" category_id=cool  category_name="標準(バラエティ)" onclick="return selectTheme(this)">
          パーティー<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/20.gif" width="150" height="140" alt="パーティー">
          </a>
        </li>

        <li>
          <a href="#select" category_id=favorite  category_name="標準(バラエティ)" onclick="return selectTheme(this)">
          楽器<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/25.gif" width="150" height="140" alt="楽器">
          </a>
        </li>

        <li>
          <a href="#select" category_id=season  category_name="標準(バラエティ)" onclick="return selectTheme(this)">
          避暑<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/19.gif" width="150" height="140" alt="避暑">
          </a>
        </li>

        <li>
          <a href="#select" category_id=201012  category_name="標準(バラエティ)" onclick="return selectTheme(this)">
          クールブラック<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/09cool_cold.gif" width="150" height="140" alt="クールブラック">
          </a>
        </li>

       <li class="page_top"><a href="#top">PageTopへ戻る</a></li>

      </ul>
    </div>



    <!-- kodawari-->
    <div class="thumbnails" id="box2">
     <ul class="thumbnails">

        <li>
          <a href="#select" category_id=life  category_name="こだわり" onclick="return selectTheme(this)">
          朝の食卓<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/22.gif" width="150" height="140" alt="朝の食卓">
          </a>
        </li>

        <li>
          <a href="#select" category_id=nature  category_name="こだわり" onclick="return selectTheme(this)">
          ナチュラルウォーター<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/m_19.gif" width="150" height="140" alt="ナチュラルウォーター">
          </a>
        </li>

        <li>
          <a href="#select" category_id=life  category_name="こだわり" onclick="return selectTheme(this)">
          冬の森<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/02life.gif" width="150" height="140" alt="冬の森">
          </a>
        </li>

        <li>
          <a href="#select" category_id=beauty  category_name="こだわり" onclick="return selectTheme(this)">
          バスタイム<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/m_12.gif" width="150" height="140" alt="バスタイム">
          </a>
        </li>

        <li class="page_top"><a href="#top">PageTopへ戻る</a></li>

        <li>
          <a href="#select" category_id=season  category_name="こだわり" onclick="return selectTheme(this)">
          桜<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/03season.gif" width="150" height="140" alt="桜">
          </a>
        </li>

        <li>
          <a href="#select" category_id=beauty  category_name="こだわり" onclick="return selectTheme(this)">
          オーキッドルージュ<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/m_32.gif" width="150" height="140" alt="オーキッドルージュ">
          </a>
        </li>

        <li>
          <a href="#select" category_id=season  category_name="こだわり" onclick="return selectTheme(this)">
          春景色<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/season01.gif" width="150" height="140" alt="春景色">
          </a>
        </li>

        <li>
          <a href="#select" category_id=life  category_name="こだわり" onclick="return selectTheme(this)">
          シルエット<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/temp_15.gif" width="150" height="140" alt="シルエット">
          </a>
        </li>

        <li class="page_top"><a href="#top">PageTopへ戻る</a></li>

        <li>
          <a href="#select" category_id=pop  category_name="こだわり" onclick="return selectTheme(this)">
          ピンクハート<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/17.gif" width="150" height="140" alt="ピンクハート">
          </a>
        </li>

        <li>
          <a href="#select" category_id=beauty  category_name="こだわり" onclick="return selectTheme(this)">
          ビューティー<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/beauty02.gif" width="150" height="140" alt="ビューティー">
          </a>
        </li>

        <li>
          <a href="#select" category_id=beauty  category_name="こだわり" onclick="return selectTheme(this)">
          ローズシフォン<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/beauty01.gif" width="150" height="140" alt="ローズシフォン">
          </a>
        </li>

        <li>
          <a href="#select" category_id=pop  category_name="こだわり" onclick="return selectTheme(this)">
          キュート<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/temp_21.gif" width="150" height="140" alt="キュート">
          </a>
        </li>

        <li class="page_top"><a href="#top">PageTopへ戻る</a></li>

        <li>
          <a href="#select" category_id=pop  category_name="こだわり" onclick="return selectTheme(this)">
          りんご姉妹<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/temp_12.gif" width="150" height="140" alt="りんご姉妹">
          </a>
        </li>

        <li>
          <a href="#select" category_id=pop  category_name="こだわり" onclick="return selectTheme(this)">
          おもちゃ箱<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/pop01.gif" width="150" height="140" alt="おもちゃ箱">
          </a>
        </li>

        <li>
          <a href="#select" category_id=pop  category_name="こだわり" onclick="return selectTheme(this)">
          文房具<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/16.gif" width="150" height="140" alt="文房具">
          </a>
        </li>

        <li>
          <a href="#select" category_id=season  category_name="こだわり" onclick="return selectTheme(this)">
          物思いの秋<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/m_20.gif" width="150" height="140" alt="物思いの秋">
          </a>
        </li>

        <li class="page_top"><a href="#top">PageTopへ戻る</a></li>

        <li>
          <a href="#select" category_id=pop  category_name="こだわり" onclick="return selectTheme(this)">
          カフェタイム<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/m_30.gif" width="150" height="140" alt="カフェタイム">
          </a>
        </li>

        <li>
          <a href="#select" category_id=season  category_name="こだわり" onclick="return selectTheme(this)">
          冬景色<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/temp_01.gif" width="150" height="140" alt="冬景色">
          </a>
        </li>

        <li>
          <a href="#select" category_id=life  category_name="こだわり" onclick="return selectTheme(this)">
          バイオレット<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/temp_06.gif" width="150" height="140" alt="バイオレット">
          </a>
        </li>

        <li>
          <a href="#select" category_id=pop  category_name="こだわり" onclick="return selectTheme(this)">
          ベジタブル<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/temp_22.gif" width="150" height="140" alt="ベジタブル">
          </a>
        </li>

        <li class="page_top"><a href="#top">PageTopへ戻る</a></li>

        <li>
          <a href="#select" category_id=life  category_name="こだわり" onclick="return selectTheme(this)">
          オレンジ<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/m_05.gif" width="150" height="140" alt="オレンジ">
          </a>
        </li>

        <li>
          <a href="#select" category_id=animal  category_name="こだわり" onclick="return selectTheme(this)">
          思い出<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/animal01.gif" width="150" height="140" alt="思い出">
          </a>
        </li>

        <li>
          <a href="#select" category_id=pop  category_name="こだわり" onclick="return selectTheme(this)">
          色エンピツ<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/m_01.gif" width="150" height="140" alt="色エンピツ">
          </a>
        </li>

        <li>
          <a href="#select" category_id=pop  category_name="こだわり" onclick="return selectTheme(this)">
          ブリック<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/m_03.gif" width="150" height="140" alt="ブリック">
          </a>
        </li>

        <li class="page_top"><a href="#top">PageTopへ戻る</a></li>

        <li>
          <a href="#select" category_id=animal  category_name="こだわり" onclick="return selectTheme(this)">
          お茶目なワンコ<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/11.gif" width="150" height="140" alt="お茶目なワンコ">
          </a>
        </li>

        <li>
          <a href="#select" category_id=pop  category_name="こだわり" onclick="return selectTheme(this)">
          青りんごキッズ<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/temp_13.gif" width="150" height="140" alt="青りんごキッズ">
          </a>
        </li>

        <li>
          <a href="#select" category_id=beauty  category_name="こだわり" onclick="return selectTheme(this)">
          ハーブアロマ<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/12.gif" width="150" height="140" alt="ハーブアロマ">
          </a>
        </li>

        <li>
          <a href="#select" category_id=animal  category_name="こだわり" onclick="return selectTheme(this)">
          うれしい春<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/m_25.gif" width="150" height="140" alt="うれしい春">
          </a>
        </li>

        <li class="page_top"><a href="#top">PageTopへ戻る</a></li>

        <li>
          <a href="#select" category_id=sports  category_name="こだわり" onclick="return selectTheme(this)">
          野球<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/sports01.gif" width="150" height="140" alt="野球">
          </a>
        </li>

        <li>
          <a href="#select" category_id=sports  category_name="こだわり" onclick="return selectTheme(this)">
          ゴルフ<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/sports02.gif" width="150" height="140" alt="ゴルフ">
          </a>
        </li>

        <li>
          <a href="#select" category_id=life  category_name="こだわり" onclick="return selectTheme(this)">
          ナチュラルライフ<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/life01.gif" width="150" height="140" alt="ナチュラルライフ">
          </a>
        </li>

        <li>
          <a href="#select" category_id=nature  category_name="こだわり" onclick="return selectTheme(this)">
          砂浜<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/nature01.gif" width="150" height="140" alt="砂浜">
          </a>
        </li>

        <li class="page_top"><a href="#top">PageTopへ戻る</a></li>

        <li>
          <a href="#select" category_id=season  category_name="こだわり" onclick="return selectTheme(this)">
          初夏<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/m_10.gif" width="150" height="140" alt="初夏">
          </a>
        </li>

        <li>
          <a href="#select" category_id=cool  category_name="こだわり" onclick="return selectTheme(this)">
          オフィス<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/m_29.gif" width="150" height="140" alt="オフィス">
          </a>
        </li>

        <li>
          <a href="#select" category_id=simple  category_name="こだわり" onclick="return selectTheme(this)">
          クールインテリア<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/m_28.gif" width="150" height="140" alt="クールインテリア">
          </a>
        </li>

        <li>
          <a href="#select" category_id=pop  category_name="こだわり" onclick="return selectTheme(this)">
          キッチン<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/m_02.gif" width="150" height="140" alt="キッチン">
          </a>
        </li>

        <li class="page_top"><a href="#top">PageTopへ戻る</a></li>

        <li>
          <a href="#select" category_id=simple  category_name="こだわり" onclick="return selectTheme(this)">
          しゃぼん<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/m_18.gif" width="150" height="140" alt="しゃぼん">
          </a>
        </li>

        <li>
          <a href="#select" category_id=sports  category_name="こだわり" onclick="return selectTheme(this)">
          ダイビング<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/m_26.gif" width="150" height="140" alt="ダイビング">
          </a>
        </li>

        <li>
          <a href="#select" category_id=simple  category_name="こだわり" onclick="return selectTheme(this)">
          アイランド<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/m_14.gif" width="150" height="140" alt="アイランド">
          </a>
        </li>

        <li>
          <a href="#select" category_id=cool  category_name="こだわり" onclick="return selectTheme(this)">
          フリーウェイ<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/m_31.gif" width="150" height="140" alt="フリーウェイ">
          </a>
        </li>

        <li class="page_top"><a href="#top">PageTopへ戻る</a></li>

        <li>
          <a href="#select" category_id=season  category_name="こだわり" onclick="return selectTheme(this)">
          バカンス<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/m_21.gif" width="150" height="140" alt="バカンス">
          </a>
        </li>

        <li>
          <a href="#select" category_id=nature  category_name="こだわり" onclick="return selectTheme(this)">
          デイリリー<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/temp_02.gif" width="150" height="140" alt="デイリリー">
          </a>
        </li>

        <li>
          <a href="#select" category_id=life  category_name="こだわり" onclick="return selectTheme(this)">
          シンプル<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/02.gif" width="150" height="140" alt="シンプル">
          </a>
        </li>

        <li>
          <a href="#select" category_id=201012  category_name="こだわり" onclick="return selectTheme(this)">
          コールドレッド<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/17pop_cold.gif" width="150" height="140" alt="コールドレッド">
          </a>
        </li>

        <li class="page_top"><a href="#top">PageTopへ戻る</a></li>

        <li>
          <a href="#select" category_id=simple  category_name="こだわり" onclick="return selectTheme(this)">
          マテリアル<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/m_07.gif" width="150" height="140" alt="マテリアル">
          </a>
        </li>

        <li>
          <a href="#select" category_id=cool  category_name="こだわり" onclick="return selectTheme(this)">
          ミッドナイト<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/cool02.gif" width="150" height="140" alt="ミッドナイト">
          </a>
        </li>

        <li>
          <a href="#select" category_id=cool  category_name="こだわり" onclick="return selectTheme(this)">
          スクエアトーン<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/13.gif" width="150" height="140" alt="スクエアトーン">
          </a>
        </li>

        <li>
          <a href="#select" category_id=sports  category_name="こだわり" onclick="return selectTheme(this)">
          サッカー<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/sports03.gif" width="150" height="140" alt="サッカー">
          </a>
        </li>

        <li class="page_top"><a href="#top">PageTopへ戻る</a></li>

        <li>
          <a href="#select" category_id=beauty  category_name="こだわり" onclick="return selectTheme(this)">
          エッセンシャル<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/m_13.gif" width="150" height="140" alt="エッセンシャル">
          </a>
        </li>

        <li>
          <a href="#select" category_id=beauty  category_name="こだわり" onclick="return selectTheme(this)">
          メイクキット<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/m_11.gif" width="150" height="140" alt="メイクキット">
          </a>
        </li>

        <li>
          <a href="#select" category_id=simple  category_name="こだわり" onclick="return selectTheme(this)">
          メンズアパレル<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/m_17.gif" width="150" height="140" alt="メンズアパレル">
          </a>
        </li>

        <li>
          <a href="#select" category_id=classic  category_name="こだわり" onclick="return selectTheme(this)">
          ルネッサンス<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/m_22.gif" width="150" height="140" alt="ルネッサンス">
          </a>
        </li>

        <li class="page_top"><a href="#top">PageTopへ戻る</a></li>

        <li>
          <a href="#select" category_id=cool  category_name="こだわり" onclick="return selectTheme(this)">
          クリスタル<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/temp_10.gif" width="150" height="140" alt="クリスタル">
          </a>
        </li>

        <li>
          <a href="#select" category_id=cool  category_name="こだわり" onclick="return selectTheme(this)">
          ストリート<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/temp_09.gif" width="150" height="140" alt="ストリート">
          </a>
        </li>

        <li>
          <a href="#select" category_id=simple  category_name="こだわり" onclick="return selectTheme(this)">
          モノトーン<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/simple01.gif" width="150" height="140" alt="モノトーン">
          </a>
        </li>

        <li>
          <a href="#select" category_id=cool  category_name="こだわり" onclick="return selectTheme(this)">
          モノクロ<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/temp_03.gif" width="150" height="140" alt="モノクロ">
          </a>
        </li>

        <li class="page_top"><a href="#top">PageTopへ戻る</a></li>

        <li>
          <a href="#select" category_id=life  category_name="こだわり" onclick="return selectTheme(this)">
          アーバンライフ<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/08.gif" width="150" height="140" alt="アーバンライフ">
          </a>
        </li>

        <li>
          <a href="#select" category_id=life  category_name="こだわり" onclick="return selectTheme(this)">
          イタリアンレストラン<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/m_27.gif" width="150" height="140" alt="イタリアンレストラン">
          </a>
        </li>

        <li>
          <a href="#select" category_id=201012  category_name="こだわり" onclick="return selectTheme(this)">
          エレガント<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/14elegant_colorful.gif" width="150" height="140" alt="エレガント">
          </a>
        </li>

        <li>
          <a href="#select" category_id=pop  category_name="こだわり" onclick="return selectTheme(this)">
          パッチワーク<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/pop02.gif" width="150" height="140" alt="パッチワーク">
          </a>
        </li>

        <li class="page_top"><a href="#top">PageTopへ戻る</a></li>

        <li>
          <a href="#select" category_id=nature  category_name="こだわり" onclick="return selectTheme(this)">
          アイビー<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/m_09.gif" width="150" height="140" alt="アイビー">
          </a>
        </li>

        <li>
          <a href="#select" category_id=classic  category_name="こだわり" onclick="return selectTheme(this)">
          ゴシックバレンタイン<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/classic01.gif" width="150" height="140" alt="ゴシックバレンタイン">
          </a>
        </li>

        <li>
          <a href="#select" category_id=cool  category_name="こだわり" onclick="return selectTheme(this)">
          アンダーグラウンド<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/temp_04.gif" width="150" height="140" alt="アンダーグラウンド">
          </a>
        </li>

        <li>
          <a href="#select" category_id=classic  category_name="こだわり" onclick="return selectTheme(this)">
          ダークブラウン<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/temp_14.gif" width="150" height="140" alt="ダークブラウン">
          </a>
        </li>

        <li class="page_top"><a href="#top">PageTopへ戻る</a></li>

      </ul>
    </div>



    <!-- other-->
    <div class="thumbnails" id="box3">
    <ul class="thumbnails">

        <li>
          <a href="#select" category_id=life  category_name="その他" onclick="return selectTheme(this)">
          はいはい赤ちゃん<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/m_15.gif" width="150" height="140" alt="はいはい赤ちゃん">
          </a>
        </li>

        <li>
          <a href="#select" category_id=life  category_name="その他" onclick="return selectTheme(this)">
          ミルク<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/temp_24.gif" width="150" height="140" alt="ミルク">
          </a>
        </li>

        <li>
          <a href="#select" category_id=pop  category_name="その他" onclick="return selectTheme(this)">
          おもちゃの冒険<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/temp_20.gif" width="150" height="140" alt="おもちゃの冒険">
          </a>
        </li>

        <li>
          <a href="#select" category_id=animal  category_name="その他" onclick="return selectTheme(this)">
          小さい友達<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/temp_25.gif" width="150" height="140" alt="小さい友達">
          </a>
        </li>

        <li class="page_top"><a href="#top">PageTopへ戻る</a></li>

        <li>
          <a href="#select" category_id=classic  category_name="その他" onclick="return selectTheme(this)">
          ノスタルジー<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/temp_11.gif" width="150" height="140" alt="ノスタルジー">
          </a>
        </li>

        <li>
          <a href="#select" category_id=classic  category_name="その他" onclick="return selectTheme(this)">
          マーブル<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/temp_08.gif" width="150" height="140" alt="マーブル">
          </a>
        </li>

        <li>
          <a href="#select" category_id=season  category_name="その他" onclick="return selectTheme(this)">
          ハロウィン<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/temp_23.gif" width="150" height="140" alt="ハロウィン">
          </a>
        </li>

        <li>
          <a href="#select" category_id=season  category_name="その他" onclick="return selectTheme(this)">
          クリスマス<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/m_24.gif" width="150" height="140" alt="クリスマス">
          </a>
        </li>

        <li class="page_top"><a href="#top">PageTopへ戻る</a></li>

        <li>
          <a href="#select" category_id=life  category_name="その他" onclick="return selectTheme(this)">
          サンタフェ<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/temp_17.gif" width="150" height="140" alt="サンタフェ">
          </a>
        </li>

        <li>
          <a href="#select" category_id=nature  category_name="その他" onclick="return selectTheme(this)">
          フォレスト<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/nature02.gif" width="150" height="140" alt="フォレスト">
          </a>
        </li>

        <li>
          <a href="#select" category_id=classic  category_name="その他" onclick="return selectTheme(this)">
          黒松<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/temp_18.gif" width="150" height="140" alt="黒松">
          </a>
        </li>

        <li>
          <a href="#select" category_id=nature  category_name="その他" onclick="return selectTheme(this)">
          葉牡丹<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/m_08.gif" width="150" height="140" alt="葉牡丹">
          </a>
        </li>

        <li class="page_top"><a href="#top">PageTopへ戻る</a></li>

        <li>
          <a href="#select" category_id=nature  category_name="その他" onclick="return selectTheme(this)">
          青空<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/04nature.gif" width="150" height="140" alt="青空">
          </a>
        </li>

        <li>
          <a href="#select" category_id=pop  category_name="その他" onclick="return selectTheme(this)">
          マーメイド<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/temp_16.gif" width="150" height="140" alt="マーメイド">
          </a>
        </li>

        <li>
          <a href="#select" category_id=favorite  category_name="その他" onclick="return selectTheme(this)">
          オートバイ<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/temp_19.gif" width="150" height="140" alt="オートバイ">
          </a>
        </li>

        <li>
          <a href="#select" category_id=nature  category_name="その他" onclick="return selectTheme(this)">
          結晶<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/temp_07.gif" width="150" height="140" alt="結晶">
          </a>
        </li>

        <li class="page_top"><a href="#top">PageTopへ戻る</a></li>

        <li>
          <a href="#select" category_id=simple  category_name="その他" onclick="return selectTheme(this)">
          包装<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/m_16.gif" width="150" height="140" alt="包装">
          </a>
        </li>

        <li>
          <a href="#select" category_id=life  category_name="その他" onclick="return selectTheme(this)">
          コーヒー<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/m_06.gif" width="150" height="140" alt="コーヒー">
          </a>
        </li>

        <li>
          <a href="#select" category_id=favorite  category_name="その他" onclick="return selectTheme(this)">
          ミュージシャン<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/favorite01.gif" width="150" height="140" alt="ミュージシャン">
          </a>
        </li>

        <li>
          <a href="#select" category_id=favorite  category_name="その他" onclick="return selectTheme(this)">
          ギタリスト<br>
          <img src="../imgs/sps_theme_thumb/201012/thumbnail_s/favorite02.gif" width="150" height="140" alt="ギタリスト">
          </a>
        </li>

        <li class="page_top"><a href="#top">PageTopへ戻る</a></li>
      </ul>
    </div>
    </form>



            </td>
          </tr>
        </table>
      </td>
      <td  bgcolor="#903A8B"><img src="../imgs/spc.gif" width="3"></td>
    </tr>

    <tr>
      <td colspan="3" width="801" height="79" background="../imgs/we006_bottom.gif">
        <table width="100%"  border="0">
          <tr>
            <td width="20"><img src="../imgs/spc.gif" width="20" height="25"></td>
            <td valign="bottom"><a href="#01"><img src="../imgs/we006_to_top.gif" width="129" border="0"></a></td>
          </tr>
        </table>
      </td>
    </tr>
  </table>

<div id="copyright">
<script type="text/javascript">
<!--
var date = new Date();
var year = date.getYear();
if(year < 2000) { year += 1900; }
document.write('Copyright &copy; '+year+' Estore Corporation. All Rights Reserved.');
//-->
</script>
</div>

</body>
</html>
