
ご担当者様

いつもＥストアーショップサーブをご利用いただきまして、誠にありがとう
ございます。

現在、ご利用いただいておりますディスク容量（サーバー容量）が、利用
可能な容量の上限を超えています

ショップID : <TMPL_VAR NAME=SHOP_ID>

月末時点でのディスク容量が、ご利用コースの利用可能容量上限を超えている
場合は、自動的に上位コースへ変更となります。
月額利用料金につきましても、上位コースの料金が適応されますので、予め
ご了承ください。

ご不明点等ございましたら、Ｅストアー ストアーデスクまでご連絡ください。


本メールを持ちましての事前連絡とさせていただきますので、ご連絡いた
だけない場合も、料金変更についてご承諾いただきましたものとさせて
いただきます。


■対処法
━━━━

・「画像台帳」で不要な画像ファイルを削除する。

・自作ページを利用している場合、サーバー内のファイルを整理し、
  不要なファイルがあれば削除する。

・店長メール、ウェブメールに大量のメールを保存している場合、
  不要なメールを削除する。

・メールソフトに「サーバーにメールを保存する」設定をして
  メールを受信している場合、サーバーに保存している大量の
  不要なメールを受信・削除する。


なお、Ｅストアーショップサーブでは「契約内容変更」で、より大きなディスク
容量が利用可能なコースもご用意しておりますので、不要なメール、
ファイルを削除のうえ、必要であれば変更をご検討ください。

※ご利用のコースによって月額利用料金が異なります。
※最大コースのディスク容量は15GBです。


今後ともよろしくお願い申し上げます。


━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
Ｅストアー ストアーデスク
 TEL ：0570-05-1210（全国共通3分8.5円）
       03-3595-1251（IP電話からはこちらをご利用ください）
 FAX ：011-218-2321
 MAIL：sp@Estore.co.jp

 電話受付時間  10時〜18時（土・日・祝祭日を除く）
 ※お問い合わせの際は「ショップＩＤ」をお知らせください。
──────────────────────────────

      悩みが10秒で解決！知りたいことがすぐに見つかる！      

          ◆「オンラインサポート」はこちらから ◆           
             ⇒https://help.shopserve.jp/            

━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
