<TMPL_VAR NAME=client_name> 様

平素より、<TMPL_VAR NAME=service>をご利用いただき、誠にありがとうございます。

下記、注文情報のクレジットカード決済のキャンセル依頼を承りました。
キャンセル処理は通常20分程度で完了いたします。


■依頼情報------------------------------------------------------------
  キャンセル依頼日：<TMPL_VAR NAME=mail_day>
  ショップID      ：<TMPL_VAR NAME=store_name>
  電話番号        ：<TMPL_VAR NAME=client_tel>

■注文情報------------------------------------------------------------
  注文日時       ：<TMPL_VAR NAME=order_date>
  注文番号       ：<TMPL_VAR NAME=pub_order_no>
  合計金額       ：<TMPL_VAR NAME=disp_total>円
  注文者お名前   ：<TMPL_VAR NAME=p_name> 様
<TMPL_IF SOUSAI>
   ※本受注の決済代金はすでに店舗様へお振込み済みのため、
     キャンセル分は次回振込日の合計金額から差し引かせていただきます。
</TMPL_IF>
----------------------------------------------------------------------


キャンセル処理の状況は、受注台帳の「決済依頼」欄、もしくは受注詳細の
「決済ステータス」欄をご確認ください。

  ○受注台帳の「決済依頼」欄
    キャンセル依頼後の表示    ：キャンセル依頼中 00/00
    キャンセル処理完了後の表示：キャンセル 00/00

  ○受注台帳＞受注詳細の「決済ステータス」欄
    キャンセル依頼後の表示    ：2008/00/00 キャンセル依頼中
    キャンセル処理完了後の表示：2008/00/00 キャンセル

  ※00/00に日付が表示されます。
  ※キャンセル処理完了後のメール連絡は行っておりません。


              ━━━━━━━━━━━━━━━━━━━━
               クレジットカード決済キャンセル留意事項 
              ━━━━━━━━━━━━━━━━━━━━

●クレジットカード会社の決済締日により、キャンセルできない場合がござい
  ます。キャンセルできない場合は、弊社より店舗様へメールもしくはお電話
  にてご連絡いたします。
  この場合は、店舗様より購入者様へ直接ご返金いただくことになります。

●クレジットカード会社のスケジュールにより、キャンセル処理が完了しても
  購入者様のカードご利用明細に記載される場合がございます。
  この場合は、購入者様よりクレジットカード会社へ引き落としされないこと
  をご確認いただくことになります。

●クレジットカード会社により、キャンセル処理が完了しても与信枠（限度額）
  の仮押さえしている商品代金分が、すぐに解除されない場合がございます。
  この場合は、購入者様よりクレジットカード会社へ与信枠について、ご確認
  いただくことになります。

以上、ご理解とご了承の程よろしくお願い申し上げます。


