
ご担当者様

いつもＥストアーショップサーブをご利用いただきまして、誠にありがとう
ございます。

現在、登録可能な顧客件数が、残り<TMPL_VAR NAME=WARN_CUST>件以下となっておりますので
お知らせいたします。


■登録可能な顧客件数が残り 0件 となった場合に起こりうる現象
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

・新規会員登録ができない。

・「顧客台帳」に新規顧客が追加登録されない。
  ※お買い物された際の購入者様情報は「受注台帳」で
    閲覧可能です。


■対処法
━━━━

・「顧客台帳」で不要な顧客情報を削除する。


なお、Ｅストアーショップサーブでは「契約内容変更」で、より顧客登録件数の多い
コースもご用意しておりますので、不要な情報を削除のうえ、必要で
あれば変更をご検討ください。

※ご利用のコースによって月額利用料金が異なります。
※コース最大の登録件数は15万件となっております。


今後ともよろしくお願い申し上げます。


━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
Ｅストアー ストアーデスク
 TEL ：0570-05-1210（全国共通3分8.5円）
       03-3595-1251（IP電話からはこちらをご利用ください）
 FAX ：011-218-2321
 MAIL：sp@Estore.co.jp

 電話受付時間  10時〜18時（土・日・祝祭日を除く）
 ※お問い合わせの際は「ショップＩＤ」をお知らせください。
──────────────────────────────

      悩みが10秒で解決！知りたいことがすぐに見つかる！      

          ◆「オンラインサポート」はこちらから ◆           
             ⇒https://help.shopserve.jp/            

━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

