<table id="side-menu" width="100%"  border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td id="side-menu-wrap">
      <table width="100%"  border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td>
            <a id="r_pause" href="rebuild_pause.cgi">
              <img src="../imgs/renewalbtn.png" alt="お店ページの更新へ" class="renewal-button">
              <img src="../imgs/renewalbtn_hover.png" alt="お店ページの更新へ" class="renewal-button-hover">
            </a>
          </td>
        </tr>
      </table>
                  <img src="../imgs/spc.gif" height="5" width="25">
                  <table width="192"  border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td align="left" class="smenu-cont">
                          <div class="smenu02">契約情報・各種手続き</div>
                          <div class="smenu02_sub"><img src="../imgs/arrow00.gif" width="7" height="8">　<a href="customer.cgi">ご住所・ご連絡先の変更</a></div>
                          <div align="center"><img src="../imgs/segment01.gif"></div>
                          <div class="smenu02_sub"><img src="../imgs/arrow00.gif" width="7" height="8">　<a href="account_list.php">ログイン権限設定</a></div>
                          <div align="center"><img src="../imgs/segment01.gif"></div>
                          <div class="smenu02_sub"><img src="../imgs/arrow00.gif" width="7" height="8">　<a href="customer.cgi#change_pay">お支払い方法の変更</a></div>
                          <div align="center"><img src="../imgs/segment01.gif"></div>
                          <div class="smenu02_sub"><img src="../imgs/arrow00.gif" width="7" height="8">　<a href="customer.cgi#dom_get">ドメイン取得</a></div>
                          <div align="center"><img src="../imgs/segment01.gif"></div>
                          <div class="smenu02_sub"><img src="../imgs/arrow00.gif" width="7" height="8">　<a href="customer.cgi#entry_card">決済代行サービス申込</a></div>
                          <div align="center"><img src="../imgs/segment01.gif"></div>
                          <div class="smenu02_sub"><img src="../imgs/arrow00.gif" width="7" height="8">　<a href="#" onClick="MM_openBrWindow('pop-cust-course.cgi','info','scrollbars=yes,resizable=yes,width=650,height=700')">契約内容変更</a></div>
                          <div align="center"><img src="../imgs/segment01.gif"></div>
                          <div class="smenu02_sub"><img src="../imgs/arrow00.gif" width="7" height="8">　<a href="customer.cgi#break_sp">Ｅストアーショップサーブの解約</a></div>
		  </td>
                  </table>
                  <img src="../imgs/spc.gif" height="5" width="25"><br>
                  <br></td>
            </tr>
          </table>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
