                                               	<tr>
                                               		<td align="left" class="item-name">ホームページの名前</td>
                                               		<td align="left" class="item">
                                               			<TMPL_VAR name=SITENAME>
                                               			</td>
                                              		</tr>
                                               	<tr>
                                               		<td align="left" class="item-name">店舗の紹介文</td>
                                               		<td align="left" class="item"> 
                                               			<TMPL_VAR name=SITEDESC>
                                              			</td>
                                              		</tr>
