<tr>
<td align="left" class="item-name">お店の名前</td>
<td align="left" class="item">
<TMPL_VAR name=SITENAME>
</td>
</tr>
<tr>
<td align="left" class="item-name">お店の名前(かな)</td>
<td align="left" class="item">
<TMPL_VAR name=SITENAMEKANA>
</td>
</tr>
<tr>
<td width="30%" align="left" class="item-name">お取り扱いジャンル</td>
  		<td align="left" class="item">
                <TMPL_VAR name=CATEGORY>
                </td>
</tr>
<!--
<tr>
<td align="left" class="item-name">ポイント有無</td>
<td align="left" class="item">
<TMPL_IF name=POINT>利用する
<TMPL_ELSE>利用しない
</TMPL_IF>
</td>
</tr>
//-->
<tr>
<td align="left" class="item-name">店舗説明</td>
<td align="left" class="item"> 
<TMPL_VAR name=SITEDESC>
</td>
</tr>
<tr>
<td align="left" class="item-name">担当者メールアドレス</td>
<td align="left" class="item">
<TMPL_VAR name=TANTO_MAIL>
</td>
</tr>
<!--
<tr>
<td align="left" class="item-name">携帯店舗URL</td>
<td align="left" class="item">
<TMPL_VAR name=KHOMEPAGE>
</td>
</tr>
//-->





