                                                <tr>
                                                        <td align="left" class="item-name"><TMPL_IF name=ERR_SITENAME><font color="#FF0000">¡ü</font></TMPL_IF>¥Û¡¼¥à¥Ú¡¼¥¸¤ÎÌ¾Á°</td>
                                                        <td align="left" class="item">
                                                           <input name="SITENAME" type="text" class="def-line" value="<TMPL_VAR name=SITENAME>">
                                                                </td>
                                                        </tr>
                                               	<tr>
                                               		<td align="left" class="item-name"><TMPL_IF name=ERR_SITEDESC><font color="#FF0000">¡ü</font></TMPL_IF>Å¹ÊÞ¤Î¾Ò²ðÊ¸</td>
                                               		<td align="left" class="item"> 
                                               			<textarea name="SITEDESC" rows="5" wrap="VIRTUAL" class="def-line"><TMPL_VAR name=SITEDESC></textarea> 
                                              			</td>
                                              		</tr>
