<script language="JavaScript">
  <!--
  function getCookie(cookieValue) {
    var i, x, y, ARRcookies = document.cookie.split(";");
    for (i = 0; i < ARRcookies.length; i++) {
      x = ARRcookies[i].substr(0, ARRcookies[i].indexOf("="));
      y = ARRcookies[i].substr(ARRcookies[i].indexOf("=") + 1);
      x = x.replace(/^\s+|\s+$/g, "");
      if (x === cookieValue) {
          return unescape(y);
      }
    }
  }

  function OnLineSupport() {
    // var cur = location.href;
    // cur = cur.replace(/https:\/\/kanri\.shopserve\.jp\//, "");
    // cur = cur.replace(/[^\/]*\//,"");

    // window.open("http://help.shopserve.jp/support/?ref=" + cur, "onlinesupport");
    window.open("https://help.shopserve.jp/r/", "onlinesupport");
  }

  function ILogYouOut() {
    var path = location.pathname.split('/')[1];
    var hostName = location.hostname;

    document.cookie = "AUTH_TOKEN=;expires=Thu Jan 01 1970 09:00:00 GMT+0900;domain=" + hostName + ";path=/" + path;
    document.cookie = "SHOPID=;expires=Thu Jan 01 1970 09:00:00 GMT+0900;domain=" + hostName + ";path=/" + path;
    document.cookie = "USERNAME=;expires=Thu Jan 01 1970 09:00:00 GMT+0900;domain=" + hostName + ";path=/" + path;
    location = "/index.cgi";
  }
  //-->
</script>

<!-- top-bar -->
<div id="top-bar">
  <div class="login-info">
    <div class="login-shop-id">
      <img src="../imgs/icon/icon_01.png" alt="ショップID">
      <span class="ml-5">
        <script>var store_id = getCookie('STORE_ID');
        document.write(store_id);
        </script>
      </span>
    </div>
    <div class="login-shop-name">
      <img src="../imgs/icon/icon_02.png" alt="お店の名前">
      <span class="ml-5">
        <script>
          var store_name = getCookie('STORE_NAME');
          document.write(decodeURIComponent(store_name));
        </script>
      </span>
    </div>
  </div>

  <div class="login-feature">
    <a class="hover-has-icon" href="https://help.shopserve.jp/r/" target="_blank"><i class="fa fa-caret-right" aria-hidden="true"></i>オンラインサポート</a>
    <a class="hover-has-icon" href="javascript:void(0);" onclick="window.open('../func100/form.cgi','contact','width=650,height=550,scrollbars')"><i class="fa fa-caret-right" aria-hidden="true"></i>お問い合わせ</a>
    <a class="hover-has-icon" href="javascript:void(0);" onclick="ILogYouOut();"><i class="fa fa-caret-right" aria-hidden="true"></i>ログアウト</a>
  </div>
</div>
<!-- top-bar -->

<TMPL_IF IsTrialCourseShop>
  <script language="JavaScript" type="text/javascript" src="../../js/custom_ui/trial_shop_err_alert.js?20190821"></script>
  <link href="../css/custom_ui/trial_shop_err_alert.css?20190821" rel="stylesheet" type="text/css">

  <div id="trial_course_shop_err_overlay"></div>
  <div id="trial_course_shop_err_dialog" style="display: none;">
    <p style="margin:0; padding-top:14px; text-align:center;">
      この機能は、テストアカウントでご利用いただけません。<br>
      契約後にご利用いただけます。お申込は
      <a href="../func00/trial_to_subscription.php" target="_blank" onClick="trial_shop_err_alert('dialog_close');">こちら</a>
      。
      <br><br>
      <input type="button" value="閉じる" onClick="trial_shop_err_alert('dialog_close');" />
    </p>
  </div>
</TMPL_IF>

<!-- header -->
<div id="top-header">
  <div class="logo-header-wrap">
    <div class="logo-area">
      <a href="../func00/">
        <img src="../imgs/ss_logo.gif" alt="Ｅストアーショップサーブ">
      </a>
    </div>

    <div class="header-area">
      <div class="shop-quick-link-area-1">
        <a href="../func07/mbp_smp_use_conf.php?mode=smp" onmouseout="MM_swapImgRestore()"
           onmouseover="MM_swapImage('btn_smp_shop_conf','','../imgs/icon/bt_01_hover.png',1)">
          <img src="../imgs/icon/bt_01.png" alt="スマートフォンサイト設定" name="btn_smp_shop_conf">
        </a>
        <a href="https://webmail.sps.shopserve.jp/xgate4/grp/estore/" target="check" onmouseout="MM_swapImgRestore()"
           onmouseover="MM_swapImage('to_shop_mail','','../imgs/icon/bt_02_hover.png',1)">
          <img src="../imgs/icon/bt_02.png" alt="店舗メールをみる" name="to_shop_mail">
        </a>
        <a href="../func00/myhomepage.cgi" target="omise" onmouseout="MM_swapImgRestore()"
           onmouseover="MM_swapImage('to_shop_page','','../imgs/icon/bt_03_hover.png',1)">
          <img src="../imgs/icon/bt_03.png" alt="お店ページをみる" name="to_shop_page">
        </a>
      </div>

      <div class="shop-quick-link-area-2">
        <a class="text-blue-dark hover:text-blue-light" <TMPL_IF NAME="IsTrialCourseShop"><TMPL_VAR NAME="TrialCourseTag"><TMPL_ELSE>href="../func00/customer.cgi"</TMPL_IF> 
           onmouseout="MM_swapImgRestore()"
           onmouseover="MM_swapImage('icon_operation','','../imgs/icon/icon_03_hover.png',1)">
          <img src="../imgs/icon/icon_03.png" alt="契約情報・各種手続き" name="icon_operation">
          <span class="ml-5">契約情報・各種手続き</span>
        </a>
        <a class="text-blue-dark hover:text-blue-light" href="../func00/" 
           onmouseout="MM_swapImgRestore()"
           onmouseover="MM_swapImage('icon_top','','../imgs/icon/icon_04_hover.png',1)">
          <img src="../imgs/icon/icon_04.png" alt="管理画面トップへ" name="icon_top">
          <span class="ml-5">管理画面トップへ</span>
        </a>
      </div>
    </div>
  </div>

  <TMPL_IF IsTrialCourseShop>
    <div id="trial-shop-wrap">
      <div class="trial-shop-container">
        <div class="trial-shop-area">
          <div id="apply-now-area">
            <div class="apply-now-text text-white">無料体験で構築した店舗を引き継いで契約できます</div>
            <div class="apply-now-button">
              <a href="../func00/trial_to_subscription.php" target="_blank"
                 onmouseout="MM_swapImgRestore()"
                 onmouseover="MM_swapImage('apply-now-button','','../func00/images/btn_apply_hover.png',1)">
                <img name="apply-now-button" src="../func00/images/btn_apply.png">
              </a>
            </div>
          </div>
          <div id="contact-area">
            <img border="0" src="../func00/images/contact.png">
          </div>
        </div>
      </div>
    </div>
  </TMPL_IF>
</div>
<!-- header -->

<!-- taで始まるショップIDの店舗だけ0212の修正を反映する ↓-->
<script language="JavaScript" type="text/JavaScript">
  var url = location.href;

  if (url.match(/kanri\d{0,}\.shopserve\.jp\/([^\/]*)\//)) {
    target_shopid = RegExp.$1;
  }
</script>

<!-- 100212 ↓追加ここから -->
<script type="text/javascript">
  if (target_shopid.match(/^ta/)) {
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  }
</script>

<script type="text/javascript">
  if (target_shopid.match(/^ta/)) {
    try {
      var pageTracker = _gat._getTracker("UA-13296861-2");
      pageTracker._trackPageview();
    } catch (err) {
    }
  }
</script>
<!-- 100212 ↑追加ここまで -->
<!-- taで始まるショップIDの店舗だけ0212の修正を反映する ↑-->

<span style="display:none;" id="isTrialCourseShop"><TMPL_VAR NAME="IsTrialCourseShop"></span>
<span style="display:none;" id="canRegular"><TMPL_VAR NAME="canRegular"></span>
